<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template2.xhtml">
	<!-- Basic -->
	<ui:param name="cart" value="Accueil" />
	<ui:define name="AcceuilGerantProd">
<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="http://localhost:8081/SpringMVC/plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="http://localhost:8081/SpringMVC/plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="http://localhost:8081/SpringMVC/dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="http://localhost:8081/SpringMVC/dist/js/vendor/modernizr-2.8.3.min.js"></script>
		</head>


		<h:body>
			<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

			<div class="wrapper">


				<div class="page-wrap">



					<div class="main-content">

						<div class="container-fluid">

						<div class="page-header">
							<h5><marquee>
							<font color="blue" face="CONSOLAS" size="7">
							
								Ajouter Produit
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									
								</small>
								
								</font>
								</marquee>
							</h5>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<h:form id="EventForm" enctype="multipart/form-data"
				class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Product </label>

										<div class="col-sm-9">
											<h:inputText value="#{ProductController.nom}" placeholder="Nom produit" class="col-xs-10 col-sm-5"></h:inputText>
											
										</div>
									</div>

						

									<div class="space-4"></div>
										<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >Categorie</label>

										<div class="col-sm-9">
								
									<h:selectOneMenu value="#{SouscategorieController.nomSCategorie}" class="chosen-select form-control" id="form-field-select-3" style="width: 50%">
									<f:selectItem itemLabel="Choisir Sous/Categorie" itemValue="#{null}" />
									<f:selectItems value="#{SouscategorieController.getAllSCategorie()}" />	
									</h:selectOneMenu>
						
										</div>
										</div>
								

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">Prix d'achat</label>

										<div class="col-sm-9">
										<h:inputText value="#{ProductController.prixAchat}"  placeholder="Prix d'achat /dt" class="input-sm"></h:inputText>
											<div class="space-2"></div>

											<div class="help-block" id="input-size-slider"></div>
										</div>
										  
										
 
										  
										   
									</div>
										<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >Prix de vente</label>

										<div class="col-sm-9">
										<h:inputText value="#{ProductController.prix}"  placeholder="Prix de vente /dt" class="input-sm"></h:inputText>
									
											<div class="space-2"></div>

											<div class="help-block" id="input-size-slider"></div>
										</div>
									</div>

									<div class="form-group">
									
										<label class="col-sm-3 control-label no-padding-right" for="form-field-5">Poids</label>

										<div class="col-sm-9">
											<div class="clearfix">
											<h:inputText value="#{ProductController.poid}" id="form-field-5" placeholder="Poids /Kg" class="col-xs-1"></h:inputText>
												
											</div>

											<div class="space-2"></div>

											<div class="help-block" id="input-span-slider"></div>
										</div>
									</div>

								<div class="form-group">
									<div class="form-group">
								<label class="col-sm-3 control-label no-padding-right" for="form-field-6">Images</label>
								<div class="col-sm-9">
								<p:fileUpload value="#{ProductController.files}" mode="simple" skinSimple="true" multiple="true" />
								</div>
								</div>
								</div>
								
								
								
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-6">Barcode</label>

										<div class="col-sm-9">
										<h:inputText value="#{ProductController.barreCode}" id="form-field-icon-2" placeholder="Barcode" ></h:inputText>
											
											<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="More details." title="Popover on hover">?</span>
											<span class="input-icon input-icon-right">
											<!-- <input data-rel="tooltip" type="text" id="form-field-6" placeholder="Tooltip on hover" title="Hello Tooltip!" data-placement="bottom" /> -->

												<i class="ace-icon fa fa-leaf green"></i>
											</span>
										</div>
									</div>
									
												<div class="form-group" >
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Description </label>

										<div class="col-sm-9">
										<h:inputTextarea value="#{ProductController.description}" style="width:50%;height:80px" id="form-field-1-1" placeholder="Description" class="form-control"></h:inputTextarea>
										</div>
										
										<div>
									
										<div class="fallback">
										
											
     
										</div>
									
								</div>
									</div>
									 
									
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
									<h:commandButton class="btn btn-info" value="Save" type="submit" action="#{ProductController.addProduit()}" ></h:commandButton>
												

										</div>
									</div>

									<div class="hr hr-24"></div>

									
									<div class="space-24"></div>
							
				
									
					
   				
  
					</h:form>
		
			

                      
                 
  
			

								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->




						</div>
					</div>
					<aside class="right-sidebar">

					<div class="sidebar-chat" data-plugin="chat-sidebar">

						<div class="sidebar-chat-info">

							<h6>Chat List</h6>
							<form class="mr-t-10">

								<div class="form-group">
									<input type="text" class="form-control"
										placeholder="Search for friends ..." /> <i
										class="ik ik-search" />
								</div>
							</form>
						</div>

						<div class="chat-list">

							<div class="list-group row">
								<a href="javascript:void(0)" class="list-group-item"
									data-chat-user="Gene Newman"> <figure class="user--online">
									<img src="../img/users/1.jpg" class="rounded-circle" alt="" />
									</figure><span><span class="name">Gene Newman</span> <span
										class="username">@gene_newman</span> </span>
								</a> <a href="javascript:void(0)" class="list-group-item"
									data-chat-user="Billy Black"> <figure class="user--online">
									<img src="../img/users/2.jpg" class="rounded-circle" alt="" />
									</figure><span><span class="name">Billy Black</span> <span
										class="username">@billyblack</span> </span>
								</a> <a href="javascript:void(0)" class="list-group-item"
									data-chat-user="Herbert Diaz"> <figure class="user--online">
									<img src="../img/users/3.jpg" class="rounded-circle" alt="" />
									</figure><span><span class="name">Herbert Diaz</span> <span
										class="username">@herbert</span> </span>
								</a> <a href="javascript:void(0)" class="list-group-item"
									data-chat-user="Sylvia Harvey"> <figure class="user--busy">
									<img src="../img/users/4.jpg" class="rounded-circle" alt="" />
									</figure><span><span class="name">Sylvia Harvey</span> <span
										class="username">@sylvia</span> </span>
								</a> <a href="javascript:void(0)" class="list-group-item active"
									data-chat-user="Marsha Hoffman"> <figure class="user--busy">
									<img src="../img/users/5.jpg" class="rounded-circle" alt="" />
									</figure><span><span class="name">Marsha Hoffman</span> <span
										class="username">@m_hoffman</span> </span>
								</a> <a href="javascript:void(0)" class="list-group-item"
									data-chat-user="Mason Grant"> <figure class="user--offline">
									<img src="../img/users/1.jpg" class="rounded-circle" alt="" />
									</figure><span><span class="name">Mason Grant</span> <span
										class="username">@masongrant</span> </span>
								</a> <a href="javascript:void(0)" class="list-group-item"
									data-chat-user="Shelly Sullivan"> <figure
										class="user--offline"> <img src="../img/users/2.jpg"
										class="rounded-circle" alt="" /> </figure><span><span
										class="name">Shelly Sullivan</span> <span class="username">@shelly</span></span>
								</a>
							</div>
						</div>
					</div>
					</aside>

					<div class="chat-panel" hidden="">

						<div class="card">

							<div class="card-header d-flex justify-content-between">
								<a href="javascript:void(0);"><i
									class="ik ik-message-square text-success" /></a> <span
									class="user-name">John Doe</span>
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>

							<div class="card-body">

								<div class="widget-chat-activity flex-1">

									<div class="messages">

										<div class="message media reply">
											<figure class="user--online"> <a href="#"> <img
												src="../img/users/3.jpg" class="rounded-circle" alt="" />
											</a> </figure>

											<div class="message-body media-body">

												<p>Epic Cheeseburgers come in all kind of styles.</p>
											</div>
										</div>

										<div class="message media">
											<figure class="user--online"> <a href="#"> <img
												src="../img/users/1.jpg" class="rounded-circle" alt="" />
											</a> </figure>

											<div class="message-body media-body">

												<p>Cheeseburgers make your knees weak.</p>
											</div>
										</div>

										<div class="message media reply">
											<figure class="user--offline"> <a href="#"> <img
												src="../img/users/5.jpg" class="rounded-circle" alt="" />
											</a> </figure>

											<div class="message-body media-body">

												<p>Cheeseburgers will never let you down.</p>

												<p>They'll also never run around or desert you.</p>
											</div>
										</div>

										<div class="message media">
											<figure class="user--online"> <a href="#"> <img
												src="../img/users/1.jpg" class="rounded-circle" alt="" />
											</a> </figure>

											<div class="message-body media-body">

												<p>A great cheeseburger is a gastronomical event.</p>
											</div>
										</div>

										<div class="message media reply">
											<figure class="user--busy"> <a href="#"> <img
												src="../img/users/5.jpg" class="rounded-circle" alt="" />
											</a> </figure>

											<div class="message-body media-body">

												<p>There's a cheesy incarnation waiting for you no
													matter what you palete preferences are.</p>
											</div>
										</div>

										<div class="message media">
											<figure class="user--online"> <a href="#"> <img
												src="../img/users/1.jpg" class="rounded-circle" alt="" />
											</a> </figure>

											<div class="message-body media-body">

												<p>If you are a vegan, we are sorry for you loss.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<form action="javascript:void(0)" class="card-footer"
								method="post">

								<div class="d-flex justify-content-end">
									<textarea class="border-0 flex-1" rows="1"
										placeholder="Type your message here"></textarea>
									<button class="btn btn-icon" type="submit">
										<i class="ik ik-arrow-right text-success" />
									</button>
								</div>
							</form>
						</div>
					</div>
					<footer class="footer">

					<div class="w-100 clearfix">
						<span class="text-center text-sm-left d-md-inline-block">Copyright
							© 2020 ConsomiTounsi All Rights Reserved.</span> <span
							class="float-none float-sm-right mt-1 mt-sm-0 text-center">Crafted
							with <i class="fa fa-heart text-danger" /> by <a
							href="http://lavalite.org/" class="text-dark" target="_blank">Zanfliga</a>
						</span>
					</div>
					</footer>
				</div>
			</div>




			<div class="modal fade apps-modal" id="appsModal" tabindex="-1"
				role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true"
				data-backdrop="false">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<i class="ik ik-x-circle" />
				</button>

				<div class="modal-dialog modal-dialog-centered" role="document">

					<div class="modal-content">

						<div class="quick-search">

							<div class="container">

								<div class="row">

									<div class="col-md-4 ml-auto mr-auto">

										<div class="input-wrap">
											<input type="text" id="quick-search" class="form-control"
												placeholder="Search..." /> <i class="ik ik-search" />
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-body d-flex align-items-center">

							<div class="container">

								<div class="apps-wrap">

									<div class="app-item">
										<a href="#"><i class="ik ik-bar-chart-2" /><span>Dashboard</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-mail" /><span>Message</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-users" /><span>Accounts</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-shopping-cart" /><span>Sales</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-briefcase" /><span>Purchase</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-server" /><span>Menus</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-clipboard" /><span>Pages</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-message-square" /><span>Chats</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-map-pin" /><span>Contacts</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-box" /><span>Blocks</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-calendar" /><span>Events</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-bell" /><span>Notifications</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-pie-chart" /><span>Reports</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-layers" /><span>Tasks</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-edit" /><span>Blogs</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-settings" /><span>Settings</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-more-horizontal" /><span>More</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

			<script>
				window.jQuery
						|| document
								.write(
										'&lt;script src="../src/js/vendor/jquery-3.3.1.min.js"&gt;&lt;\/script&gt;')
			</script>

			<script src="http://localhost:8081/SpringMVC/plugins/popper.js/dist/umd/popper.min.js"></script>

			<script src="http://localhost:8081/SpringMVC/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

			<script
				src="http://localhost:8081/SpringMVC/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

			<script src="http://localhost:8081/SpringMVC/dist/js/theme.min.js"></script>

			<script src="http://localhost:8081/SpringMVC/js/form-components.js"></script>
			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

			<script>
				(
										function(b, o, i, l, e, r) {
											b.GoogleAnalyticsObject = l;
											b[l]
													|| (b[l] = function() {
														(b[l].q = b[l].q || [])
																.push(arguments)
													});
											b[l].l = +new Date;
											e = o.createElement(i);
											r = o.getElementsByTagName(i)[0];
											e.src = 'https://www.google-analytics.com/analytics.js';
											r.parentNode.insertBefore(e, r)
										}(window, document, 'script', 'ga'));
				ga('create', 'UA-XXXXX-X', 'auto');
				ga('send', 'pageview');
			</script>

		</h:body>
	</ui:define>
</ui:composition>