<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template2.xhtml">
	<!-- Basic -->
	<ui:param name="cart" value="Accueil" />
	<ui:define name="affichecommande">
		<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="../../plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="../../plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="../../plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="../../plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="../../plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="../../plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="../../dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="../../dist/js/vendor/modernizr-2.8.3.min.js"></script>
		</head>

		<h:body>
			<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

			<div class="wrapper">


				<div class="page-wrap">



					<div class="main-content">

						<div class="container-fluid">


							<div class="row">






								<div class="card">

									<div class="card-header row">

										<div class="col col-sm-3">

											<div class="card-options d-inline-block">
												<a href="#"><i class="ik ik-inbox" /></a> <a href="#"><i
													class="ik ik-plus" /></a> <a href="#"><i
													class="ik ik-rotate-cw" /></a>

												<div class="dropdown d-inline-block">
													<a class="nav-link dropdown-toggle" href="#"
														id="moreDropdown" role="button" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"><i
														class="ik ik-more-horizontal" /></a>

													<div class="dropdown-menu dropdown-menu-right"
														aria-labelledby="moreDropdown">
														<a class="dropdown-item" href="#">Action</a> <a
															class="dropdown-item" href="#">More Action</a>
													</div>
												</div>
											</div>
										</div>

										<div class="col col-sm-6">

											<div class="card-search with-adv-search dropdown">
												<h:form>
													<form action="">
														<input type="text" class="form-control global_filter"
															id="global_filter" placeholder="Search.." required="" />
														<button type="submit" class="btn btn-icon">
															<i class="ik ik-search" />
														</button>
														<button type="button" id="adv_wrap_toggler"
															class="adv-btn ik ik-chevron-down dropdown-toggle"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false" />

														<div
															class="adv-search-wrap dropdown-menu dropdown-menu-right"
															aria-labelledby="adv_wrap_toggler">

															<div class="row">

																<div class="col-md-12">

																	<div class="form-group">
																		<input type="text" class="form-control column_filter"
																			id="col0_filter" placeholder="Name" data-column="0" />
																	</div>
																</div>

																<div class="col-md-6">

																	<div class="form-group">
																		<input type="text" class="form-control column_filter"
																			id="col1_filter" placeholder="Position"
																			data-column="1" />
																	</div>
																</div>

																<div class="col-md-6">

																	<div class="form-group">
																		<input type="text" class="form-control column_filter"
																			id="col2_filter" placeholder="Office" data-column="2" />
																	</div>
																</div>

																<div class="col-md-4">

																	<div class="form-group">
																		<input type="text" class="form-control column_filter"
																			id="col3_filter" placeholder="Age" data-column="3" />
																	</div>
																</div>

																<div class="col-md-4">

																	<div class="form-group">
																		<input type="text" class="form-control column_filter"
																			id="col4_filter" placeholder="Start date"
																			data-column="4" />
																	</div>
																</div>

																<div class="col-md-4">

																	<div class="form-group">
																		<input type="text" class="form-control column_filter"
																			id="col5_filter" placeholder="Salary" data-column="5" />
																	</div>
																</div>
															</div>
															<button class="btn btn-theme">Search</button>
														</div>
													</form>
												</h:form>
											</div>
										</div>

										<div class="col col-sm-3">

											<div class="card-options text-right">
												<span class="mr-5" id="top">1 - 50 of 2,500</span> <a
													href="#"><i class="ik ik-chevron-left" /></a> <a href="#"><i
													class="ik ik-chevron-right" /></a>
											</div>
										</div>
									</div>

									<div class="table table-striped table-bordered nowrap dataTable">

										<h:dataTable value="#{CommandeController.get_all_commandes()}"
											var="listecommande" id="advanced_table" class="table">
											<table id="advanced_table" class="table">
												<thead>

													<tr>

														<th class="nosort" width="10"><label
															class="custom-control custom-checkbox m-0"> <input
																type="checkbox" class="custom-control-input"
																id="selectall" name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></th>

														<th class="nosort">Avatar</th>

														<th>Name</th>

														<th>Position</th>

														<th>Office</th>

														<th>Age</th>

														<th>Start date</th>

														<th>Salary</th>
													</tr>
												</thead>

												<tbody>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/1.jpg"
															class="table-user-thumb" alt="" /></td>

														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="ID" />
																</f:facet>
																<a href="#"> <h:form>
																<h:link   value="#{listecommande.id}" outcome="affichepanier.jsf">
														<f:param name="idcc" value="#{listecommande.id}"/>
																		</h:link>
																	</h:form>
																</a>
															</h:column></td>



														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="date_commande" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.date_commande}" />

																</a>
															</h:column></td>



														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="prixtotale" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.prixtotale}" />

																</a>
															</h:column></td>

														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="poucentage" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.poucentage}" />

																</a>
															</h:column></td>

														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="prix_after_remise" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.prix_after_remise}" />

																</a>
															</h:column></td>
														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="status" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.status}" />

																</a>
															</h:column></td>

														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="user" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.client.userId}" />

																</a>
															</h:column></td>
														<td><h:column>
																<f:facet name="header">
																	<h:outputText value="user" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{listecommande.client.userId}" />

																</a>
															</h:column></td>

													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/2.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Garrett Winters</td>




														<td>Tokyo</td>

														<td>63</td>

														<td>2011/07/25</td>

														<td>$170,750</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/3.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Ashton Cox</td>

														<td>Junior Technical Author</td>

														<td>San Francisco</td>

														<td>66</td>

														<td>2009/01/12</td>

														<td>$86,000</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/4.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Cedric Kelly</td>

														<td>Senior Javascript Developer</td>

														<td>Edinburgh</td>

														<td>22</td>

														<td>2012/03/29</td>

														<td>$433,060</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/5.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Airi Satou</td>

														<td>Accountant</td>

														<td>Tokyo</td>

														<td>33</td>

														<td>2008/11/28</td>

														<td>$162,700</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/1.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Brielle Williamson</td>

														<td>Integration Specialist</td>

														<td>New York</td>

														<td>61</td>

														<td>2012/12/02</td>

														<td>$372,000</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/2.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Herrod Chandler</td>

														<td>Sales Assistant</td>

														<td>San Francisco</td>

														<td>59</td>

														<td>2012/08/06</td>

														<td>$137,500</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/3.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Rhona Davidson</td>

														<td>Integration Specialist</td>

														<td>Tokyo</td>

														<td>55</td>

														<td>2010/10/14</td>

														<td>$327,900</td>
													</tr>

													<tr>

														<td><label class="custom-control custom-checkbox">
																<input type="checkbox"
																class="custom-control-input select_all_child" id=""
																name="" value="option2" /> <span
																class="custom-control-label">&nbsp;</span>
														</label></td>

														<td><img src="../resources/img/users/4.jpg"
															class="table-user-thumb" alt="" /></td>

														<td>Colleen Hurst</td>

														<td>Javascript Developer</td>

														<td>San Francisco</td>

														<td>39</td>

														<td>2009/09/15</td>

														<td>$205,500</td>
													</tr>
												</tbody>
											</table>
										</h:dataTable>
									</div>
								</div>
							</div>
						</div>




					</div>
				</div>




				<div class="modal fade apps-modal" id="appsModal" tabindex="-1"
					role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true"
					data-backdrop="false">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="ik ik-x-circle" />
					</button>

					<div class="modal-dialog modal-dialog-centered" role="document">

						<div class="modal-content">

							<div class="quick-search">

								<div class="container">

									<div class="row">

										<div class="col-md-4 ml-auto mr-auto">

											<div class="input-wrap">
												<input type="text" id="quick-search" class="form-control"
													placeholder="Search..." /> <i class="ik ik-search" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-body d-flex align-items-center">

							<div class="container">

								<div class="apps-wrap">

									<div class="app-item">
										<a href="#"><i class="ik ik-bar-chart-2" /><span>Dashboard</span></a>
									</div>

									<div class="app-item dropdown">
										<a href="#" class="dropdown-toggle" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"><i
											class="ik ik-command" /><span>Ui</span></a>

										<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="#">Action</a> <a
												class="dropdown-item" href="#">Another action</a> <a
												class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-mail" /><span>Message</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-users" /><span>Accounts</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-shopping-cart" /><span>Sales</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-briefcase" /><span>Purchase</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-server" /><span>Menus</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-clipboard" /><span>Pages</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-message-square" /><span>Chats</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-map-pin" /><span>Contacts</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-box" /><span>Blocks</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-calendar" /><span>Events</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-bell" /><span>Notifications</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-pie-chart" /><span>Reports</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-layers" /><span>Tasks</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-edit" /><span>Blogs</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-settings" /><span>Settings</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-more-horizontal" /><span>More</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	 <script src="../../js/vendor/jquery-3.3.1.min.js">
	</script>

	<script src="http://localhost:8081/plugins/popper.js/dist/umd/popper.min.js"></script>

	<script src="http://localhost:8081/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="http://localhost:8081/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

	<script src="http://localhost:8081/plugins/screenfull/dist/screenfull.js"></script>

	<script src="http://localhost:8081/plugins/datatables.net/js/jquery.dataTables.min.js"></script>

	<script src="http://localhost:8081/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

	<script src="http://localhost:8081/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>

	<script src="http://localhost:8081/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

	<script src="http://localhost:8081/plugins/jvectormap/jquery-jvectormap.min.js"></script>

<!-- 	<script src="../../plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script> -->

	<script src="http://localhost:8081/plugins/moment/moment.js"></script>

	<script src="http://localhost:8081/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
//
	<script src="http://localhost:8081/plugins/d3/dist/d3.min.js"></script>

	<script src="http://localhost:8081/plugins/c3/c3.min.js"></script>

	<script src="http://localhost:8081/js/tables.js"></script>

	<script src="http://localhost:8081/js/widgets.js"></script>

	<script src="http://localhost:8081/js/charts.js"></script>

	<script src="http://localhost:8081/dist/js/theme.min.js"></script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

	<script>
		(
								function(b, o, i, l, e, r) {
									b.GoogleAnalyticsObject = l;
									b[l] || (b[l] = function() {
										(b[l].q = b[l].q || []).push(arguments)
									});
									b[l].l = +new Date;
									e = o.createElement(i);
									r = o.getElementsByTagName(i)[0];
									e.src = 'https://www.google-analytics.com/analytics.js';
									r.parentNode.insertBefore(e, r)
								}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X', 'auto');
		ga('send', 'pageview');
	</script>
		</h:body>
	</ui:define>
</ui:composition>