<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template2.xhtml">
	<!-- Basic -->
	<ui:param name="reclam" value="Accueil" />
	<ui:define name="afficheReclamations">
		<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="../../plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="../../plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="../../plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="../../plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="../../plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="../../plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="../../dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="../../dist/js/vendor/modernizr-2.8.3.min.js"></script>
		</head>
		<h:body>

			<div class="wrapper">


				<div class="page-wrap">



					<div class="main-content">

						<div class="container-fluid">

							<div class="page-header">

								<div class="row align-items-end">

									<div class="col-lg-8">

										<div class="page-header-title">
											<i class="ik ik-layers bg-blue" />

											<div class="d-inline">

												<h5>Our Delivery Mans</h5>

											</div>
										</div>
									</div>


								</div>
							</div>

							<div class="row">


								<!-- lettest acivity and statustic card end -->
								<!-- Customer overview start -->

								<div class="col-md-12">

									<div class="card table-card">



										<div class="card-block">

											<div class="table-responsive">

												<table class="table table-hover mb-0">
													<h:dataTable  value="#{reclamationController.getAlllReclamations()}"
														 var="reclamation" class="table table-hover mb-0">


														<tbody>

															<tr>

																<td>

																	<div class="d-inline-block align-middle">

																		<div class="d-inline-block">

																			<h:column>
																				<f:facet name="header">
																					<h:outputText value="Id_Client" />
																				</f:facet>
																				<a href="#"> <h:outputText class="name-pr"
																					value="#{reclamation.commandes.client.userId}"	 />

																				</a>
																			</h:column>

																		</div>
																	</div>
																</td>

																<td><h:column>
																		<f:facet name="header">
																			<h:outputText value="Id_Product" />
																		</f:facet>
																		<a href="#"> <h:outputText class="name-pr"
																			value="#{reclamation.produit.id}"	 />

																		</a>
																	</h:column></td>

																<td><h:column>
																		<f:facet name="header">
																			<h:outputText value="Commmande" />

																		</f:facet>
																		<a href="#"> <h:outputText class="name-pr"
																			value="#{reclamation.commandes.id}"	 />

																		</a>
																	</h:column></td>
																<td><h:column>
																		<f:facet name="header">
																			<h:outputText value="Complaints" />

																		</f:facet>
																		<a href="#"> <h:outputText class="name-pr"
																			value="#{reclamation.descrip}"	 />

																		</a>
																	</h:column></td>


																<td><h:column>

																		<f:facet name="header">
																			<h:outputText value="Decision" />
																		</f:facet>
																		<h:form>


																			
																		<h:commandButton  class="btn btn-secondary" action="#{DecisionController.affecterDecision1AReclamation(1,reclamation.id_recl)}" value="Repair"/>
																			
																			<h:commandButton  class="btn btn-success" action="#{DecisionController.affecterDecision1AReclamation(2,reclamation.id_recl)}" value="Exchange"/>

																			<h:commandButton  class="btn btn-danger" action="#{DecisionController.affecterDecision1AReclamation(3,reclamation.id_recl)}" value="Refund"/>

																		</h:form>

																	</h:column></td>
															</tr>

														</tbody>
													</h:dataTable>
												</table>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</h:body>
	</ui:define>
</ui:composition>