<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="../../plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="../../plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="../../plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="../../plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="../../plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="../../plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="../../dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="../../dist/js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<h:body>
		<div class="wrapper">
			<header class="header-top" header-theme="light">

			<div class="container-fluid">

				<div class="d-flex justify-content-between">

					<div class="top-menu d-flex align-items-center">
						<button type="button" class="btn-icon mobile-nav-toggle d-lg-none">
							<span />
						</button>

						<div class="header-search">

							<div class="input-group">
								<span class="input-group-addon search-close"><i
									class="ik ik-x" /></span> <input type="text" class="form-control" />
								<span class="input-group-addon search-btn"><i
									class="ik ik-search" /></span>
							</div>
						</div>
						<button type="button" id="navbar-fullscreen" class="nav-link">
							<i class="ik ik-maximize" />
						</button>
					</div>

					<div class="top-menu d-flex align-items-center">

						<div class="dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="notiDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"><i class="ik ik-bell" /><span
								class="badge bg-danger">3</span></a>

							<div
								class="dropdown-menu dropdown-menu-right notification-dropdown"
								aria-labelledby="notiDropdown">

								<h4 class="header">Notifications</h4>

								<div class="notifications-wrap">
									<a href="#" class="media"> <span class="d-flex"> <i
											class="ik ik-check" />
									</span> <span class="media-body"> <span
											class="heading-font-family media-heading">Invitation
												accepted</span> <span class="media-content">Your have been
												Invited ...</span>
									</span>
									</a> <a href="#" class="media"> <span class="d-flex"> <img
											src="../resources/img/users/1.jpg" class="rounded-circle"
											alt="" />
									</span> <span class="media-body"> <span
											class="heading-font-family media-heading">Steve Smith</span>
											<span class="media-content">I slowly updated projects</span>
									</span>
									</a> <a href="#" class="media"> <span class="d-flex"> <i
											class="ik ik-calendar" />
									</span> <span class="media-body"> <span
											class="heading-font-family media-heading">To Do</span> <span
											class="media-content">Meeting with Nathan on Friday 8
												AM ...</span>
									</span>
									</a>
								</div>

								<div class="footer">
									<a href="javascript:void(0);">See all activity</a>
								</div>
							</div>
						</div>
						<button type="button" class="nav-link ml-10 right-sidebar-toggle">
							<i class="ik ik-message-square" /><span class="badge bg-success">3</span>
						</button>

						<div class="dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="menuDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"><i class="ik ik-plus" /></a>

							<div class="dropdown-menu dropdown-menu-right menu-grid"
								aria-labelledby="menuDropdown">
								<a class="dropdown-item" href="#" data-toggle="tooltip"
									data-placement="top" title="Dashboard"><i
									class="ik ik-bar-chart-2" /></a> <a class="dropdown-item" href="#"
									data-toggle="tooltip" data-placement="top" title="Message"><i
									class="ik ik-mail" /></a> <a class="dropdown-item" href="#"
									data-toggle="tooltip" data-placement="top" title="Accounts"><i
									class="ik ik-users" /></a> <a class="dropdown-item" href="#"
									data-toggle="tooltip" data-placement="top" title="Sales"><i
									class="ik ik-shopping-cart" /></a> <a class="dropdown-item"
									href="#" data-toggle="tooltip" data-placement="top"
									title="Purchase"><i class="ik ik-briefcase" /></a> <a
									class="dropdown-item" href="#" data-toggle="tooltip"
									data-placement="top" title="Pages"><i
									class="ik ik-clipboard" /></a> <a class="dropdown-item" href="#"
									data-toggle="tooltip" data-placement="top" title="Chats"><i
									class="ik ik-message-square" /></a> <a class="dropdown-item"
									href="#" data-toggle="tooltip" data-placement="top"
									title="Contacts"><i class="ik ik-map-pin" /></a> <a
									class="dropdown-item" href="#" data-toggle="tooltip"
									data-placement="top" title="Blocks"><i class="ik ik-inbox" /></a>
								<a class="dropdown-item" href="#" data-toggle="tooltip"
									data-placement="top" title="Events"><i
									class="ik ik-calendar" /></a> <a class="dropdown-item" href="#"
									data-toggle="tooltip" data-placement="top"
									title="Notifications"><i class="ik ik-bell" /></a> <a
									class="dropdown-item" href="#" data-toggle="tooltip"
									data-placement="top" title="More"><i
									class="ik ik-more-horizontal" /></a>
							</div>
						</div>
						<button type="button" class="nav-link ml-10" id="apps_modal_btn"
							data-toggle="modal" data-target="#appsModal">
							<i class="ik ik-grid" />
						</button>

						<div class="dropdown">
							<a class="dropdown-toggle" href="#" id="userDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"><img class="avatar"
								src="http://localhost:8081/resources/img/user.jpg" alt="" /></a>
							<h:form>
								<div class="dropdown-menu dropdown-menu-right"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" href="profile.html"><i
										class="ik ik-user dropdown-icon" /> Profile</a> <a
										class="dropdown-item" href="#"><i
										class="ik ik-settings dropdown-icon" /> Settings</a> <a
										class="dropdown-item" href="#"><span class="float-right"><span
											class="badge badge-primary">6</span></span><i
										class="ik ik-mail dropdown-icon" /> Inbox</a> <a
										class="dropdown-item" href="#"><i
										class="ik ik-navigation dropdown-icon" /> Message</a> <a
										class="dropdown-item" href="#"><i
										class="ik ik-power dropdown-icon" /> <h:commandLink
											value="Logout" action="#{AdminController.doLogout()}"></h:commandLink>
									</a>

								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>
			</header>

			<div class="page-wrap">

				<div class="app-sidebar colored">

					<div class="sidebar-header">
						<a class="header-brand"
							href="../../template/templateAdmin/index.xhtml">

							<div class="logo-img">
								<img src="../../resources/img/test11.png"
									class="header-brand-img" alt="" />
							</div>
						</a>
						<!-- 					<button type="button" class="nav-toggle"> -->
						<!-- 						<i data-toggle="expanded" class="ik ik-toggle-right toggle-icon" /> -->
						<!-- 					</button> -->
						<!-- 					<button id="sidebarClose" class="nav-close"> -->
						<!-- 						<i class="ik ik-x" /> -->
						<!-- 					</button> -->
					</div>
					<div class="app-sidebar colored">

						<div class="sidebar-header">
							<a class="header-brand"
								href="../../template/templateAdmin/index.xhtml">

								<div class="logo-img">
									<img src="../../resources/img/test11.png"
										class="header-brand-img" alt="" />
								</div>
							</a>
							<!-- 					<button type="button" class="nav-toggle"> -->
							<!-- 						<i data-toggle="expanded" class="ik ik-toggle-right toggle-icon" /> -->
							<!-- 					</button> -->
							<!-- 					<button id="sidebarClose" class="nav-close"> -->
							<!-- 						<i class="ik ik-x" /> -->
							<!-- 					</button> -->
						</div>


						<div class="sidebar-content">

							<div class="nav-container">
								<nav id="main-menu-navigation" class="navigation-main">

								<div class="nav-lavel">Navigation</div>

								<div class="nav-item active">
									<a href="index2.jsf"><i class="ik ik-bar-chart-2" /><span>Dashboard</span></a>
								</div>

								<div class="nav-item">
									<a href="#"><i class="ik ik-menu" /><span>Navigation</span>
										<span class="badge badge-success">New</span></a>
								</div>

								<div class="nav-item has-sub">
									<a href="javascript:void(0)"><i class="ik ik-layers" /><span>Gestion
											de vente</span> <span class="badge badge-danger">150+</span></a>

									<div class="submenu-content">
										<a href="affichecommande.jsf" class="menu-item">Commandes</a>
										<a href="affichefacture.jsf" class="menu-item">Factures</a> <a
											href="cal.jsf" class="menu-item">Statistique </a> <a
											href="stat_vent_cat.jsf" class="menu-item">Statistique cat</a>
									</div>
								</div>
								<div class="nav-item has-sub">
									<a href="javascript:void(0)"><i class="ik ik-layers" /><span>Gestion
											de User</span> <span class="badge badge-danger">150+</span></a>

									<div class="submenu-content">
										<a href="afficheClient.jsf" class="menu-item">Block/Active</a>
										<a href="jeu.jsf" class="menu-item">Le Grand jeu</a>
									</div>
								</div>

								<div class="nav-lavel">UI Element</div>

								<div class="nav-item has-sub">
									<a href="#"><i class="ik ik-box" /><span>Gestion
											Product</span></a>

									<div class="submenu-content">
										<a href="AcceuilGerantProd.jsf" class="menu-item">AddProduct</a>
										<a href="ShowProduct.jsf" class="menu-item">ProductShow</a> <a
											href="ShowCategories.jsf" class="menu-item">Categories</a> <a
											href="AjoutCategorie.jsf" class="menu-item">AddCategorie</a>
									</div>
								</div>

								<div class="nav-item has-sub">
									<a href="#"><i class="ik ik-gitlab" /><span>Gestion
											Categories</span> <span class="badge badge-success">New</span></a>

									<div class="submenu-content">
										<a href="AddCategorie.jsf" class="menu-item">AddCat</a> <a
											href="AddSousCat.jsf" class="menu-item">AddSousCat</a>
										<a href="ShowCatProd.jsf" class="menu-item">ShowCategorie</a>
										<a href="ShowSousCat.jsf" class="menu-item">ShowSousCat
											</a> <a href="pages/ui/rating.html" class="menu-item">Rating</a>
									</div>
								</div>

								<div class="nav-item has-sub">
									<a href="#"><i class="ik ik-package" /><span>Extra</span></a>

									<div class="submenu-content">
										<a href="pages/ui/session-timeout.html" class="menu-item">Session
											Timeout</a>
									</div>
								</div>

								<div class="nav-item">
									<a href="pages/ui/icons.html"><i class="ik ik-command" /><span>Icons</span></a>
								</div>

								<div class="nav-lavel">Delivery man</div>

						<div class="nav-item has-sub">
							<a href="#"><i class="ik ik-edit" /><span>Delivery man</span></a>

							<div class="submenu-content">
									<a href="ajouterLivreur.jsf" class="menu-item"> Add delivery man </a>
								<a href="LesLivreurs.jsf" class="menu-item"> All Delivery mans </a>
									<a href="affichelivraison.jsf" class="menu-item"> All Livraison </a>
									<a href="afficherReclamations.jsf" class="menu-item"> Clients Complaints </a>
									<a href="Stat.jsf" class="menu-item"> Best Delivery Man </a>
								
							</div>
						</div>

								<div class="nav-item">
									<a href="pages/form-picker.html"><i class="ik ik-terminal" /><span>Form
											Picker</span> <span class="badge badge-success">New</span></a>
								</div>

								<div class="nav-lavel">Tables</div>

								<div class="nav-item">
									<a href="pages/table-bootstrap.html"><i
										class="ik ik-credit-card" /><span>Bootstrap Table</span></a>
								</div>

								<div class="nav-item">
									<a href="pages/table-datatable.html"><i class="ik ik-inbox" /><span>Data
											Table</span></a>
								</div>

								<div class="nav-lavel">Charts</div>

								<div class="nav-item has-sub">
									<a href="#"><i class="ik ik-pie-chart" /><span>Charts</span>
										<span class="badge badge-success">New</span></a>

									<div class="submenu-content">
										<a href="pages/charts-chartist.html" class="menu-item active">Chartist</a>
										<a href="pages/charts-flot.html" class="menu-item">Flot</a> <a
											href="pages/charts-knob.html" class="menu-item">Knob</a> <a
											href="pages/charts-amcharts.html" class="menu-item">Amcharts</a>
									</div>
								</div>

								<div class="nav-lavel">Apps</div>

								<div class="nav-item">
									<a href="pages/calendar.html"><i class="ik ik-calendar" /><span>Calendar</span></a>
								</div>

								<div class="nav-item">
									<a href="pages/taskboard.html"><i class="ik ik-server" /><span>Taskboard</span></a>
								</div>

								<div class="nav-lavel">Pages</div>

								<div class="nav-item has-sub">
									<a href="#"><i class="ik ik-lock" /><span>Authentication</span></a>

									<div class="submenu-content">
										<a href="pages/login.html" class="menu-item">Login</a> <a
											href="pages/register.html" class="menu-item">Register</a> <a
											href="pages/forgot-password.html" class="menu-item">Forgot
											Password</a>
									</div>
								</div>

								<div class="nav-item has-sub">
									<a href="#"><i class="ik ik-file-text" /><span>Other</span></a>

									<div class="submenu-content">
										<a href="pages/profile.html" class="menu-item">Profile</a> <a
											href="pages/invoice.html" class="menu-item">Invoice</a>
									</div>
								</div>

								<div class="nav-item">
									<a href="pages/layouts.html"><i class="ik ik-layout" /><span>Layouts</span><span
										class="badge badge-success">New</span></a>
								</div>

								<div class="nav-lavel">Other</div>

								<div class="nav-item has-sub">
									<a href="javascript:void(0)"><i class="ik ik-list" /><span>Menu
											Levels</span></a>

									<div class="submenu-content">
										<a href="javascript:void(0)" class="menu-item">Menu Level
											2.1</a>

										<div class="nav-item has-sub">
											<a href="javascript:void(0)" class="menu-item">Menu Level
												2.2</a>

											<div class="submenu-content">
												<a href="javascript:void(0)" class="menu-item">Menu
													Level 3.1</a>
											</div>
										</div>
										<a href="javascript:void(0)" class="menu-item">Menu Level
											2.3</a>
									</div>
								</div>

								<div class="nav-item">
									<a href="javascript:void(0)" class="disabled"><i
										class="ik ik-slash" /><span>Disabled Menu</span></a>
								</div>

								<div class="nav-item">
									<a href="javascript:void(0)"><i class="ik ik-award" /><span>Sample
											Page</span></a>
								</div>

								<div class="nav-lavel">Support</div>

								<div class="nav-item">
									<a href="javascript:void(0)"><i class="ik ik-monitor" /><span>Documentation</span></a>
								</div>

								<div class="nav-item">
									<a href="javascript:void(0)"><i class="ik ik-help-circle" /><span>Submit
											Issue</span></a>
								</div>
								</nav>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>



		<div class="modal fade apps-modal" id="appsModal" tabindex="-1"
			role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true"
			data-backdrop="false">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<i class="ik ik-x-circle" />
			</button>

			<div class="modal-dialog modal-dialog-centered" role="document">

				<div class="modal-content">

					<div class="quick-search">

						<div class="container">

							<div class="row">

								<div class="col-md-4 ml-auto mr-auto">

									<div class="input-wrap">
										<input type="text" id="quick-search" class="form-control"
											placeholder="Search..." /> <i class="ik ik-search" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-body d-flex align-items-center">

						<div class="container">

							<div class="apps-wrap">

								<div class="app-item">
									<a href="index2.jsf"><i class="ik ik-bar-chart-2" /><span>Dashboard</span></a>
								</div>

								<div class="app-item dropdown">
									<a href="index2.jsf" class="dropdown-toggle" role="button"
										id="dropdownMenuLink" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"><i
										class="ik ik-command" /><span>Ui</span></a>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="#">Action</a> <a
											class="dropdown-item" href="#">Another action</a> <a
											class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-mail" /><span>Message</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-users" /><span>Accounts</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-shopping-cart" /><span>Sales</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-briefcase" /><span>Purchase</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-server" /><span>Menus</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-clipboard" /><span>Pages</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-message-square" /><span>Chats</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-map-pin" /><span>Contacts</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-box" /><span>Blocks</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-calendar" /><span>Events</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-bell" /><span>Notifications</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-pie-chart" /><span>Reports</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-layers" /><span>Tasks</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-edit" /><span>Blogs</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-settings" /><span>Settings</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-more-horizontal" /><span>More</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- 		<script src="../../js/vendor/jquery-3.3.1.min.js"> -->
			
<!-- 		</script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/SpringMVC/plugins/popper.js/dist/umd/popper.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/bootstrap/dist/js/bootstrap.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/screenfull/dist/screenfull.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/datatables.net/js/jquery.dataTables.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/jvectormap/jquery-jvectormap.min.js"></script> -->

	<!-- 	<script src="../../plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script> --> 

<!-- 		<script src="http://localhost:8081/SpringMVC/plugins/moment/moment.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/SpringMVC/plugins/d3/dist/d3.min.js"></script> -->

<!-- 		<script src="http://localhost:8081/SpringMVC/plugins/c3/c3.min.js"></script> -->

<!-- 		<script src="http://localhost:8081/SpringMVC/js/tables.js"></script> -->

<!-- 		<script src="http://localhost:8081/SpringMVC/js/widgets.js"></script> -->

<!-- 		<script src="http://localhost:8081/SpringMVC/js/charts.js"></script> -->

<!-- 		<script src="http://localhost:8081/SpringMVC/dist/js/theme.min.js"></script> -->
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

		<script>
			(function(b, o, i, l, e, r) {
				b.GoogleAnalyticsObject = l;
				b[l] || (b[l] = function() {
					(b[l].q = b[l].q || []).push(arguments)
				});
				b[l].l = +new Date;
				e = o.createElement(i);
				r = o.getElementsByTagName(i)[0];
				e.src = 'https://www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e, r)
			}(window, document, 'script', 'ga'));
			ga('create', 'UA-XXXXX-X', 'auto');
			ga('send', 'pageview');
		</script>


	</h:body>

</ui:composition>