<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template2.xhtml">
	<!-- Basic -->
	<ui:param name="cart" value="Accueil" />
	<ui:define name="jeu">
		<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="../../plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="../../plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="../../plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="../../plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="../../plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="../../plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="../../dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="../../dist/js/vendor/modernizr-2.8.3.min.js"></script>
		</head>

		<h:body>
			<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

			<div class="wrapper">


				<div class="page-wrap">



					<div class="main-content">
					 <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <div class="d-inline">
                                            <h5>Le Grand Jeu</h5>
                                        </div>
                                    </div>
                                </div>

						<div class="card-footer chat-footer">
	<h:form>
	<center> <img src="http://localhost:8081/temp1/images/Capture2223.png" alt="" /></center>
							<div class="input-wrap">
							
								<!-- 										<input type="text" placeholder="Type and enter" -->
								<!-- 											class="form-control" /> -->
								<h:inputText class="form-control"
									value="#{ClientController.ptmerci}" />
							</div>
							<!-- 							<button type="button" class="btn btn-icon btn-theme"> -->
						
							<h:commandLink 
								action="#{ClientController.produit_gangant(ClientController.ptmerci)}"
								value="goooo" class="btn btn-light" >
								<i class="ik ik-heart"></i>
								</h:commandLink>
							
<!-- 							<i class="fa fa-paper-plane" /> -->
<!-- 							</button> -->
</h:form>
						</div>



					</div>
				</div>




				<div class="modal fade apps-modal" id="appsModal" tabindex="-1"
					role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true"
					data-backdrop="false">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="ik ik-x-circle" />
					</button>

					<div class="modal-dialog modal-dialog-centered" role="document">

						<div class="modal-content">

							<div class="quick-search">

								<div class="container">

									<div class="row">

										<div class="col-md-4 ml-auto mr-auto">

											<div class="input-wrap">
												<input type="text" id="quick-search" class="form-control"
													placeholder="Search..." /> <i class="ik ik-search" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-body d-flex align-items-center">

							<div class="container">

								<div class="apps-wrap">

									<div class="app-item">
										<a href="#"><i class="ik ik-bar-chart-2" /><span>Dashboard</span></a>
									</div>

									<div class="app-item dropdown">
										<a href="#" class="dropdown-toggle" role="button"
											id="dropdownMenuLink" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"><i
											class="ik ik-command" /><span>Ui</span></a>

										<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="#">Action</a> <a
												class="dropdown-item" href="#">Another action</a> <a
												class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-mail" /><span>Message</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-users" /><span>Accounts</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-shopping-cart" /><span>Sales</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-briefcase" /><span>Purchase</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-server" /><span>Menus</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-clipboard" /><span>Pages</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-message-square" /><span>Chats</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-map-pin" /><span>Contacts</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-box" /><span>Blocks</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-calendar" /><span>Events</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-bell" /><span>Notifications</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-pie-chart" /><span>Reports</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-layers" /><span>Tasks</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-edit" /><span>Blogs</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-settings" /><span>Settings</span></a>
									</div>

									<div class="app-item">
										<a href="#"><i class="ik ik-more-horizontal" /><span>More</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

			<script src="../../js/vendor/jquery-3.3.1.min.js">
				
			</script>

			<script
				src="http://localhost:8081/plugins/popper.js/dist/umd/popper.min.js"></script>

			<script
				src="http://localhost:8081/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

			<script
				src="http://localhost:8081/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

			<script
				src="http://localhost:8081/plugins/screenfull/dist/screenfull.js"></script>

			<script
				src="http://localhost:8081/plugins/datatables.net/js/jquery.dataTables.min.js"></script>

			<script
				src="http://localhost:8081/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

			<script
				src="http://localhost:8081/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>

			<script
				src="http://localhost:8081/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

			<script
				src="http://localhost:8081/plugins/jvectormap/jquery-jvectormap.min.js"></script>

			<!-- 	<script src="../../plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script> -->

			<script
				src="http://localhost:8081/plugins/moment/moment.js"></script>

			<script
				src="http://localhost:8081/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
//
	<script src="http://localhost:8081/plugins/d3/dist/d3.min.js"></script>

			<script src="http://localhost:8081/plugins/c3/c3.min.js"></script>

			<script src="http://localhost:8081/js/tables.js"></script>

			<script src="http://localhost:8081/js/widgets.js"></script>

			<script src="http://localhost:8081/js/charts.js"></script>

			<script src="http://localhost:8081/dist/js/theme.min.js"></script>
			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

			<script>
				(function(b, o, i, l, e, r) {
					b.GoogleAnalyticsObject = l;
					b[l] || (b[l] = function() {
						(b[l].q = b[l].q || []).push(arguments)
					});
					b[l].l = +new Date;
					e = o.createElement(i);
					r = o.getElementsByTagName(i)[0];
					e.src = 'https://www.google-analytics.com/analytics.js';
					r.parentNode.insertBefore(e, r)
				}(window, document, 'script', 'ga'));
				ga('create', 'UA-XXXXX-X', 'auto');
				ga('send', 'pageview');
			</script>
		</h:body>
	</ui:define>
</ui:composition>