<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">






	<meta charset="utf-8" />
	<!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
	<link rel="stylesheet"
		href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin="" />
	<style type="text/css">
#map { /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
	height: 600px;
}
</style>
	<title>Carte</title>

	<div id="map"
		class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
		tabindex="0" style="position: relative;">
		<!-- Ici s'affichera la carte -->

		<div class="leaflet-pane leaflet-map-pane"
			style="transform: translate3d(0px, 0px, 0px);">
			<div class="leaflet-pane leaflet-tile-pane">
				<div class="leaflet-layer " style="z-index: 1;">
					<div class="leaflet-tile-container leaflet-zoom-animated"
						style="z-index: 20; transform: translate3d(0px, 0px, 0px) scale(1);">
						<img alt="" role="presentation"
							src="https://b.tile.openstreetmap.fr/osmfr/11/1037/704.png"
							class="leaflet-tile"
							style="width: 256px; height: 256px; transform: translate3d(-94px, 46px, 0px);" /><img
							alt="" role="presentation"
							src="https://a.tile.openstreetmap.fr/osmfr/11/1037/703.png"
							class="leaflet-tile"
							style="width: 256px; height: 256px; transform: translate3d(-94px, -210px, 0px);" /><img
							alt="" role="presentation"
							src="https://c.tile.openstreetmap.fr/osmfr/11/1037/705.png"
							class="leaflet-tile"
							style="width: 256px; height: 256px; transform: translate3d(-94px, 302px, 0px);" />
					</div>
				</div>
			</div>
			<div class="leaflet-pane leaflet-shadow-pane">
				<img
					src="https://unpkg.com/leaflet@1.3.1/dist/images/marker-shadow.png"
					class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
					style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(0px, 200px, 0px);" />
			</div>
			<div class="leaflet-pane leaflet-overlay-pane" />
			<div class="leaflet-pane leaflet-marker-pane">
				<img
					src="https://unpkg.com/leaflet@1.3.1/dist/images/marker-icon.png"
					class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
					alt="" tabindex="0"
					style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(0px, 200px, 0px); z-index: 200;" />
			</div>
			<div class="leaflet-pane leaflet-tooltip-pane" />
			<div class="leaflet-pane leaflet-popup-pane" />
			<div class="leaflet-proxy leaflet-zoom-animated"
				style="transform: translate3d(265566px, 180378px, 0px) scale(1024);" />
		</div>
		<div class="leaflet-control-container">
			<div class="leaflet-top leaflet-left">
				<div class="leaflet-control-zoom leaflet-bar leaflet-control">
					<a class="leaflet-control-zoom-in" href="#" title="Zoom in"
						role="button" aria-label="Zoom in">+</a><a
						class="leaflet-control-zoom-out" href="#" title="Zoom out"
						role="button" aria-label="Zoom out">−</a>
				</div>
			</div>
			<div class="leaflet-top leaflet-right" />
			<div class="leaflet-bottom leaflet-left" />
			<div class="leaflet-bottom leaflet-right">
				<div class="leaflet-control-attribution leaflet-control">
					<a href="http://leafletjs.com"
						title="A JS library for interactive maps">Leaflet</a> | données ©
					<a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a
						href="//openstreetmap.fr">OSM France</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Fichiers Javascript -->

	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
		integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
		crossorigin=""></script>

	<script type="text/javascript">
		// On initialise la latitude et la longitude de Paris (centre de la carte)
		var lat = 36.45959329351366;
		var lon = 10.78167269599707;
		var macarte = null;
		// Fonction d'initialisation de la carte
		function initMap() {
			// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
			macarte = L.map('map').setView([ lat, lon ], 11);
			// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
			L
					.tileLayer(
							'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png',
							{
								// Il est toujours bien de laisser le lien vers la source des données
								attribution : 'données © &lt;a href="//osm.org/copyright"&gt;OpenStreetMap&lt;/a&gt;/ODbL - rendu &lt;a href="//openstreetmap.fr"&gt;OSM France&lt;/a&gt;',
								minZoom : 1,
								maxZoom : 20
							}).addTo(macarte);

			// Nous ajoutons un marqueur
			var marker = L.marker([ lat, lon ]).addTo(macarte);
		}
		window.onload = function() {
			// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
			initMap();
		};
	</script>
</ui:composition>
