<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template2.xhtml">
	<!-- Basic -->
	<ui:param name="cart" value="Accueil" />
	<ui:define name="affichelivreur">
		<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="../../plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="../../plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="../../plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="../../plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="../../plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="../../plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="../../dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="../../dist/js/vendor/modernizr-2.8.3.min.js"></script>
		</head>

		
	<h:body>
		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div class="wrapper">
			

			<div class="page-wrap">

				

				<div class="main-content">

					<div class="container-fluid">

						<div class="page-header">

							<div class="row align-items-end">

								<div class="col-lg-8">

									<div class="page-header-title">
										<i class="ik ik-layers bg-blue" />

										<div class="d-inline">

											<h5>Our Delivery Mans</h5>

										</div>
									</div>
								</div>


							</div>
						</div>

						<div class="row">


							<!-- lettest acivity and statustic card end -->
							<!-- Customer overview start -->

							<div class="col-md-12">

								<div class="card table-card">



									<div class="card-block">

										<div class="table-responsive">
                                         
											<table  class="table table-hover mb-0">
											<h:dataTable value="#{livreurController.getAlllivreurs()}" var="livreur" class="table table-hover mb-0">
												

												<tbody >
													
														<tr>

															<td>

																<div class="d-inline-block align-middle">

																	<div class="d-inline-block">

															<h:column>
															<f:facet name="header">
																<h:outputText value="First name" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.prenom}" />

															</a>
														</h:column>

																	</div>
																</div>
															</td>

															<td>
															<h:column>
															<f:facet name="header">
																<h:outputText value="Last name" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.nom}" />

															</a></h:column>
															</td>
														
															<td>
															<h:column>
															<f:facet name="header">
																<h:outputText value="Cin" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.cin}" />

															</a></h:column>
															</td>

															<td><h:column>
															<f:facet name="header">
																<h:outputText value="Email" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.email}" />

															</a></h:column>
															</td>

															<td>
															<h:column>
															<f:facet name="header">
																<h:outputText value="Telephone Number" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.num_tel}" />

															</a></h:column>
															</td>
															
															<td><h:column>
															<f:facet name="header">
																<h:outputText value="address" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.address}" />

															</a></h:column>
															</td>
															<td><h:column>
															<f:facet name="header">
																<h:outputText value="Means of transport" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.moy_trans_liv}" />

															</a></h:column>
															</td>
															<td>
															<h:column>
															<f:facet name="header">
																<h:outputText value="salary" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr"
																	value="#{livreur.salaire_liv}" />

															</a></h:column>
															</td>
															<td>
															<h:column>
															<f:facet name="header">
																<h:outputText value="Availability" />
															</f:facet>
															<a href="#"> <h:outputText class="name-pr" value="#{livreur.dispo_liv}" />
															</a>
															</h:column>
															</td>
<!-- 															<td> -->
<!-- 															<h:column> -->
<!-- 															<f:facet name="header"> -->
<!-- 																<h:outputText value="Number of Delivery" /> -->
<!-- 															</f:facet> -->
<!-- 															<a href="#"> <h:outputText class="name-pr" value="#{livreur.chargeT_liv}" /> -->
<!-- 															</a> -->
<!-- 															</h:column> -->
<!-- 															</td> -->
									
									
									<td >
														<h:column>
															<f:facet name="header">
																<h:outputText value="Number of Delivery" />
															</f:facet>
															<p:inputNumber  
																class="c-input-text qty text" value="#{livreur.chargeT_liv}" />
															
														</h:column></td>
									
									
														<td>
														<h:column>
														
														<f:facet name="header">
																<h:outputText value="Actions" />
															</f:facet>
															<h:form>
														
														
														<h:commandLink action="#{livreurController.mettreAjourLivreurBycharge(livreur.userId,livreur.chargeT_liv)}" class="ik ik-edit f-16 mr-15 text-green" />
														
														
														
														<h:commandLink action="#{livreurController.deleteLivreur(livreur.userId)}" class="ik ik-trash-2 f-16 text-red"/>
															
														</h:form>
														
														</h:column>
															</td>
														</tr>
														
												</tbody>
												</h:dataTable>
											</table>
											
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					
				</div>


	<meta charset="utf-8" />
	<!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
	<link rel="stylesheet"
		href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		crossorigin="" />
	<style type="text/css">
#map { /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
	height: 400px;
}
</style>
	<title>Carte</title>

	<div id="map"
		class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
		tabindex="0" style="position: relative;">
		<!-- Ici s'affichera la carte -->

		<div class="leaflet-pane leaflet-map-pane"
			style="transform: translate3d(0px, 0px, 0px);">
			<div class="leaflet-pane leaflet-tile-pane">
				<div class="leaflet-layer " style="z-index: 1;">
					<div class="leaflet-tile-container leaflet-zoom-animated"
						style="z-index: 20; transform: translate3d(0px, 0px, 0px) scale(1);">
						<img alt="" role="presentation"
							src="https://b.tile.openstreetmap.fr/osmfr/11/1037/704.png"
							class="leaflet-tile"
							style="width: 256px; height: 256px; transform: translate3d(-94px, 46px, 0px);" /><img
							alt="" role="presentation"
							src="https://a.tile.openstreetmap.fr/osmfr/11/1037/703.png"
							class="leaflet-tile"
							style="width: 256px; height: 256px; transform: translate3d(-94px, -210px, 0px);" /><img
							alt="" role="presentation"
							src="https://c.tile.openstreetmap.fr/osmfr/11/1037/705.png"
							class="leaflet-tile"
							style="width: 256px; height: 256px; transform: translate3d(-94px, 302px, 0px);" />
					</div>
				</div>
			</div>
			<div class="leaflet-pane leaflet-shadow-pane">
				<img
					src="https://unpkg.com/leaflet@1.3.1/dist/images/marker-shadow.png"
					class="leaflet-marker-shadow leaflet-zoom-animated" alt=""
					style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(0px, 200px, 0px);" />
			</div>
			<div class="leaflet-pane leaflet-overlay-pane" />
			<div class="leaflet-pane leaflet-marker-pane">
				<img
					src="https://unpkg.com/leaflet@1.3.1/dist/images/marker-icon.png"
					class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
					alt="" tabindex="0"
					style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(0px, 200px, 0px); z-index: 200;" />
			</div>
			<div class="leaflet-pane leaflet-tooltip-pane" />
			<div class="leaflet-pane leaflet-popup-pane" />
			<div class="leaflet-proxy leaflet-zoom-animated"
				style="transform: translate3d(265566px, 180378px, 0px) scale(1024);" />
		</div>
		<div class="leaflet-control-container">
			<div class="leaflet-top leaflet-left">
				<div class="leaflet-control-zoom leaflet-bar leaflet-control">
					<a class="leaflet-control-zoom-in" href="#" title="Zoom in"
						role="button" aria-label="Zoom in">+</a><a
						class="leaflet-control-zoom-out" href="#" title="Zoom out"
						role="button" aria-label="Zoom out">−</a>
				</div>
			</div>
			<div class="leaflet-top leaflet-right" />
			<div class="leaflet-bottom leaflet-left" />
			<div class="leaflet-bottom leaflet-right">
				<div class="leaflet-control-attribution leaflet-control">
					<a href="http://leafletjs.com"
						title="A JS library for interactive maps">Leaflet</a> | données ©
					<a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a
						href="//openstreetmap.fr">OSM France</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Fichiers Javascript -->

	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
		integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
		crossorigin=""></script>

	<script type="text/javascript">
		// On initialise la latitude et la longitude de Paris (centre de la carte)
		var lat = 36.45959329351366;
		var lon = 10.78167269599707;
		var macarte = null;
		// Fonction d'initialisation de la carte
		function initMap() {
			// Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
			macarte = L.map('map').setView([ lat, lon ], 11);
			// Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
			L
					.tileLayer(
							'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png',
							{
								// Il est toujours bien de laisser le lien vers la source des données
								attribution : 'données © &lt;a href="//osm.org/copyright"&gt;OpenStreetMap&lt;/a&gt;/ODbL - rendu &lt;a href="//openstreetmap.fr"&gt;OSM France&lt;/a&gt;',
								minZoom : 1,
								maxZoom : 20
							}).addTo(macarte);

			// Nous ajoutons un marqueur
			var marker = L.marker([ lat, lon ]).addTo(macarte);
		}
		window.onload = function() {
			// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
			initMap();
		};
	</script>

				<footer class="footer">

				<div class="w-100 clearfix">
					<span class="text-center text-sm-left d-md-inline-block">Copyright
						© 2018 ThemeKit v2.0. All Rights Reserved.</span> <span
						class="float-none float-sm-right mt-1 mt-sm-0 text-center">Crafted
						with <i class="fa fa-heart text-danger" /> by <a
						href="http://lavalite.org/" class="text-dark" target="_blank">Lavalite</a>
					</span>
				</div>
				</footer>

			</div>
		</div>
		<div class="modal fade apps-modal" id="appsModal" tabindex="-1"
			role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true"
			data-backdrop="false">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<i class="ik ik-x-circle" />
			</button>

			<div class="modal-dialog modal-dialog-centered" role="document">

				<div class="modal-content">

					<div class="quick-search">

						<div class="container">

							<div class="row">

							
								<div class="col-md-4 ml-auto mr-auto">

									<div class="input-wrap">
										<input type="text" id="quick-search" class="form-control"
											placeholder="Search..." /> <i class="ik ik-search" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-body d-flex align-items-center">

						<div class="container">

							<div class="apps-wrap">

								<div class="app-item">
									<a href="#"><i class="ik ik-bar-chart-2" /><span>Dashboard</span></a>
								</div>

								<div class="app-item dropdown">
									<a href="#" class="dropdown-toggle" role="button"
										id="dropdownMenuLink" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"><i
										class="ik ik-command" /><span>Ui</span></a>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="#">Action</a> <a
											class="dropdown-item" href="#">Another action</a> <a
											class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-mail" /><span>Message</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-users" /><span>Accounts</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-shopping-cart" /><span>Sales</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-briefcase" /><span>Purchase</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-server" /><span>Menus</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-clipboard" /><span>Pages</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-message-square" /><span>Chats</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-map-pin" /><span>Contacts</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-box" /><span>Blocks</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-calendar" /><span>Events</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-bell" /><span>Notifications</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-pie-chart" /><span>Reports</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-layers" /><span>Tasks</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-edit" /><span>Blogs</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-settings" /><span>Settings</span></a>
								</div>

								<div class="app-item">
									<a href="#"><i class="ik ik-more-horizontal" /><span>More</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<script src="../../js/vendor/jquery-3.3.1.min.js"></script>
	
		<script src="../../plugins/popper.js/dist/umd/popper.min.js"></script>

		<script src="../../plugins/bootstrap/dist/js/bootstrap.min.js"></script>

		<script
			src="../../plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>

		<script src="../../plugins/screenfull/dist/screenfull.js"></script>

		<script src="../../plugins/datatables.net/js/jquery.dataTables.min.js"></script>

		<script
			src="../../plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

		<script
			src="../../plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>

		<script
			src="../../plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

		<script src="../../plugins/jvectormap/jquery-jvectormap.min.js"></script>

		<script
			src="../../plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>

		<script src="../../plugins/moment/moment.js"></script>

		<script
			src="../../plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>

		<script src="../../plugins/d3/dist/d3.min.js"></script>

		<script src="../../plugins/c3/c3.min.js"></script>

		<script src="../../js/tables.js"></script>

		<script src="../../js/widgets.js"></script>

		<script src="../../js/charts.js"></script>

		<script src="../../dist/js/theme.min.js"></script>
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

		<script>
			(function(b, o, i, l, e, r) {
				b.GoogleAnalyticsObject = l;
				b[l] || (b[l] = function() {
					(b[l].q = b[l].q || []).push(arguments)
				});
				b[l].l = +new Date;
				e = o.createElement(i);
				r = o.getElementsByTagName(i)[0];
				e.src = 'https://www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e, r)
			}(window, document, 'script', 'ga'));
			ga('create', 'UA-XXXXX-X', 'auto');
			ga('send', 'pageview');
		</script>

</h:body>
</ui:define>
</ui:composition>
