<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:hf="http://highfaces.org" template="/template/template2.xhtml">
	<!-- Basic -->
	<ui:param name="stat" value="Accueil" />
	<ui:define name="stat">
		<head>

<meta charset="utf-8" />

<meta http-equiv="x-ua-compatible" content="ie=edge" />

<title>Consomi#619</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
	rel="stylesheet" />

<link rel="stylesheet"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../plugins/fontawesome-free/css/all.min.css" />
<link rel="stylesheet"
	href="../../plugins/icon-kit/dist/css/iconkit.min.css" />
<link rel="stylesheet"
	href="../../plugins/ionicons/dist/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../../plugins/perfect-scrollbar/css/perfect-scrollbar.css" />
<link rel="stylesheet"
	href="../../plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="../../plugins/jvectormap/jquery-jvectormap.css" />
<link rel="stylesheet"
	href="../../plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css" />
<link rel="stylesheet"
	href="../../plugins/weather-icons/css/weather-icons.min.css" />
<link rel="stylesheet" href="../../plugins/c3/c3.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet"
	href="../../plugins/owl.carousel/dist/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="../../dist/css/theme.min.css" />

<script src="https://www.google-analytics.com/analytics.js"></script>
<script src="../../dist/js/vendor/modernizr-2.8.3.min.js"></script>

<script src="../../plugins/vendor/bootstrap/js/popper.js"></script>
<script src="../../plugins/vendor/bootstrap/js/bootstrap.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js">
	
</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" />


<script src="http://code.highcharts.com/highcharts.js"></script>


		</head>

		<h:body>
			<br />

			<br />
			<br />
			<br />
			<br />

			<div>
				<h1>#{StatController.StatTop10liv()}</h1>
			</div>

			<hf:chart type="pie" title="Best Delivery Man" alpha3d="45"
				beta3d="0">
				<hf:chartSerie name="Number of delivery"
					value="#{StatController.top10}" var="point"
					point="#{point.nbmission}" tickLabel="#{point.username}" />
			</hf:chart>


			<br />
			<br />
			<br />

			<h:form>
				<center>
					<h:commandButton type="submit" class="btn btn-primary mr-2"
						value="Send" action="#{livreurController.Prime()}" />
				</center>
			</h:form>



		</h:body>
	</ui:define>
</ui:composition>