<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
<!-- Basic -->
<ui:param name="cart" value="Accueil" />
	<ui:define name="about">
<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" />
	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
	<!-- Site CSS -->
	<link rel="stylesheet" href="../temp1/css/style.css" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../temp1/css/responsive.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../temp1/css/custom.css" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<h:body>
	<!-- Start Main Top -->


	<!-- End Main Top -->
	<!-- Start Main Top -->
	
	<!-- End Top Search -->
	<!-- Start All Title Box -->

	<div class="all-title-box">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<h2>ABOUT US</h2>

					<ul class="breadcrumb">

						<li class="breadcrumb-item"><a href="#">Home</a></li>

						<li class="breadcrumb-item active">ABOUT US</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->
	<!-- Start About Page  -->

	<div class="about-box-main">

		<div class="container">

			<div class="row">

				<div class="col-lg-6">

					<h2 class="noo-sh-title">
						We are <span>ThewayShop</span>
					</h2>

					<p>"Sed ut perspiciatis unde omnis iste natus error sit
						voluptatem accusantium doloremque laudantium, totam rem aperiam,
						eaque ipsa quae ab illo inventore veritatis et quasi architecto
						beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
						voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
						magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
						porro quisquam est, qui dolorem ipsum quia dolor sit amet,
						consectetur, adipisci velit, sed quia non numquam eius modi
						tempora incidunt ut labore et dolore magnam aliquam quaerat
						voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
						ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
						consequatur? Quis autem vel eum iure reprehenderit qui in ea
						voluptate velit esse quam nihil molestiae consequatur, vel illum
						qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
						do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat.</p>
				</div>

				<div class="col-lg-6">

					<div class="banner-frame">
						<img class="img-thumbnail img-fluid" src="../temp1/images/about-img.jpg"
							alt="" />
					</div>
				</div>
			</div>

			<div class="row my-5">

				<div class="col-sm-6 col-lg-4">

					<div class="service-block-inner">

						<h3>We are Trusted</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">

					<div class="service-block-inner">

						<h3>We are Professional</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">

					<div class="service-block-inner">

						<h3>We are Expert</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</p>
					</div>
				</div>
			</div>

			<div class="row my-4">

				<div class="col-12">

					<h2 class="noo-sh-title">Meet Our Team</h2>
				</div>

				<div class="col-sm-6 col-lg-3">

					<div class="hover-team">

						<div class="our-team">
							<img src="../temp1/images/ana.jpg" alt="" />

							<div class="team-content">

								<h3 class="title">Williamson</h3>
								<span class="post">Web Developer</span>
							</div>

							<ul class="social">

								<li><a href="#" class="fab fa-facebook" /></li>

								<li><a href="#" class="fab fa-twitter" /></li>

								<li><a href="#" class="fab fa-google-plus" /></li>

								<li><a href="#" class="fab fa-youtube" /></li>
							</ul>

							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true" />
							</div>
						</div>

						<div class="team-description">

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>

						<hr class="my-0" />
					</div>
				</div>

				<div class="col-sm-6 col-lg-3">

					<div class="hover-team">

						<div class="our-team">
							<img src="../temp1/images/nou.jpg" alt="" />

							<div class="team-content">

								<h3 class="title">Kristiana</h3>
								<span class="post">Web Developer</span>
							</div>

							<ul class="social">

								<li><a href="#" class="fab fa-facebook" /></li>

								<li><a href="#" class="fab fa-twitter" /></li>

								<li><a href="#" class="fab fa-google-plus" /></li>

								<li><a href="#" class="fab fa-youtube" /></li>
							</ul>

							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true" />
							</div>
						</div>

						<div class="team-description">

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>

						<hr class="my-0" />
					</div>
				</div>

				<div class="col-sm-6 col-lg-3">

					<div class="hover-team">

						<div class="our-team">
							<img src="../temp1/images/hh.jpg" alt="" />

							<div class="team-content">

								<h3 class="title">Steve Thomas</h3>
								<span class="post">Web Developer</span>
							</div>

							<ul class="social">

								<li><a href="#" class="fab fa-facebook" /></li>

								<li><a href="#" class="fab fa-twitter" /></li>

								<li><a href="#" class="fab fa-google-plus" /></li>

								<li><a href="#" class="fab fa-youtube" /></li>
							</ul>

							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true" />
							</div>
						</div>

						<div class="team-description">

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>

						<hr class="my-0" />
					</div>
				</div>

				<div class="col-sm-6 col-lg-3">

					<div class="hover-team">

						<div class="our-team">
							<img src="../temp1/images/woo.jpg" alt="" />

							<div class="team-content">

								<h3 class="title">Williamson</h3>
								<span class="post">Web Developer</span>
							</div>

							<ul class="social">

								<li><a href="#" class="fab fa-facebook" /></li>

								<li><a href="#" class="fab fa-twitter" /></li>

								<li><a href="#" class="fab fa-google-plus" /></li>

								<li><a href="#" class="fab fa-youtube" /></li>
							</ul>

							<div class="icon">
								<i class="fa fa-plus" aria-hidden="true" />
							</div>
						</div>

						<div class="team-description">

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent urna diam, maximus ut ullamcorper quis, placerat id
								eros. Duis semper justo sed condimentum rutrum. Nunc tristique
								purus turpis. Maecenas vulputate.</p>
						</div>

						<hr class="my-0" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About Page -->
	<!-- Start Instagram Feed  -->

	<div class="instagram-box">

		<div class="main-instagram owl-carousel owl-theme">

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-01.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-02.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-03.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-04.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-06.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-07.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-08.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-09.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Instagram Feed  -->
	<!-- Start Footer  -->
	
	<!-- End copyright  -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">↑</a>
	<!-- ALL JS FILES -->

	
			<script
			src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

		<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->

		<script
			src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

		<script
			src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
		<script
			src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>
			    

		<script
			src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

		<script src="http://localhost:8081/temp1/js/custom.js"></script>
		            
	</h:body>
</ui:define>
</ui:composition>