<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template.xhtml">
	<!-- Basic -->
	<ui:param name="cart" value="Accueil" />
	<ui:define name="cart">
		<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Site Metas -->

<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<meta name="author" content="" />
<!-- Site Icons -->
<link rel="shortcut icon" href="../temp1/images/favicon.ico"
	type="/image/x-icon" />
<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
<!-- Site CSS -->
<link rel="stylesheet" href="../temp1/css/style.css" />
<!-- Responsive CSS -->
<link rel="stylesheet" href="../temp1/css/responsive.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="../temp1/css/custom.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		</head>

		<h:body>
			<!-- 		<c:if test="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).id==0}"> -->
			<!-- 										        il n'ya pas une commande en cours -->
			<!-- 										        	        </c:if> -->

			<!--                                        <c:if test="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).id!=0}"> -->

			<!-- Start Main Top -->

			<!-- End Top Search -->
			<!-- Start All Title Box -->

			<div class="all-title-box">

				<div class="container">

					<div class="row">

						<div class="col-lg-12">

							<h2>Cart</h2>

							<ul class="breadcrumb">

								<li class="breadcrumb-item"><a href="#">Shop</a></li>

								<li class="breadcrumb-item active">Cart</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End All Title Box -->
			<!-- Start Cart  -->
			<br></br>
			<br></br>
			<h:panelGroup
				rendered="#{empty PanierController.panierParIdclient(AdminController.authenticatedClient.userId)}">
				<div class="container-fluid bg-white">
					<div class="container py-5">
						<div class="img-vide text-center">
							<a href="../template/index.jsf"><img
								src="https://www.ajipressing.ma/images/panier-vide.png" /></a>
						</div>
					</div>
				</div>
			</h:panelGroup>
			<h:panelGroup
				rendered="#{not empty PanierController.panierParIdclient(AdminController.authenticatedClient.userId)}">

				<div class="cart-box-main">
					
					<div class="container">

						<div class="row">

							<div class="col-lg-12">

								<div class="table-main table-responsive">

									<table class="table">
										<h:form>
											<h:dataTable class="table"
												value="#{PanierController.panierParIdclient(AdminController.authenticatedClient.userId)}"
												var="panier" border="1">
												<thead>

													<tr>

														<th>Images</th>

														<th>Product Name</th>

														<th>Price</th>

														<th>Quantity</th>

														<th>Total</th>

														<th>Remove</th>
													</tr>
												</thead>

												<tbody>

													<tr>

														<td class="thumbnail-img"><h:column>
																<f:facet name="header">
																	<h:outputText value="Images" />
																</f:facet>
													<a href="#" class="photo">
																<img
																	src="#{ProductController.findProdimg(panier.idp)}" class="cart-thumb"
																	style="width: 10%; height: 10%" 	alt="" />

																															</a>
															</h:column></td>

														<td class="name-pr"><h:column>
																<f:facet name="header">
																	<h:outputText value="Product Name" />
																</f:facet>
																<a href="#"> <h:outputText class="name-pr"
																		value="#{panier.nomProduit}" />

																</a>
															</h:column></td>

														<td class="price-pr">

															<p>
																<h:column>
																	<f:facet name="header">
																		<h:outputText value="Price" />
																	</f:facet>
																	<h:outputText value="#{panier.price}" class="price-pr" />
																</h:column>
															</p>
														</td>

														<td class="quantity-box"><input type="number"
															size="4" value="1" min="0" step="1"
															class="c-input-text qty text" /> <h:column>
																<f:facet name="header">
																	<h:outputText value="Quantity" />
																</f:facet>
																<h:inputText id="aa" type="number"
																	class="c-input-text qty text"
																	value="#{panier.quantity}" />
																<!-- 															<p:spinner id="minMax" value="#{panier.quantity}" min="0" -->
																<!-- 																max="100" -->
																<!-- 																class="ui-spinner-input ui-inputfield ui-state-default ui-corner-all ui-state-filled" /> -->
															</h:column></td>
														<td class="total-pr">

															<p>
																<h:column>
																	<f:facet name="header">
																		<h:outputText value="Total" />
																	</f:facet>
																	<h:outputText value="#{panier.total}" class="price-pr" />
																</h:column>
															</p>
														</td>

														<td class="remove-pr"><h:column>
																<div class="update-box">
																	<f:facet name="header">
																		<h:outputText value="Remove" />
																	</f:facet>
																	<h:commandButton class="btn btn-theme"
																		action="#{PanierController.update_after_remove(panier.id,AdminController.authenticatedClient.userId)}"
																		value="X" />
																</div>
															</h:column></td>

														<td class="remove-pr"><h:column>
																<div class="update-box">
																	<f:facet name="header">
																		<h:outputText value="Update" />
																	</f:facet>


																	<h:commandButton class="btn btn-theme"
																		action="#{PanierController.updateLigne(panier.id,panier.quantity,AdminController.authenticatedClient.userId)}"
																		value="update" />
																</div>
															</h:column></td>


													</tr>

													<tr>

														<td class="thumbnail-img"><a href="#"> <img
																class="img-fluid" src="../temp1/images/img-pro-02.jpg"
																alt="" />
														</a></td>

														<td class="name-pr"><a href="#"> Lorem ipsum
																dolor sit amet </a></td>

														<td class="price-pr">

															<p>$ 60.0</p>
														</td>

														<td class="quantity-box"><input type="number"
															size="4" value="1" min="0" step="1"
															class="c-input-text qty text" /></td>

														<td class="total-pr">

															<p>$ 80.0</p>
														</td>

														<td class="remove-pr"><a href="#"> <i
																class="fas fa-times" />
														</a></td>
													</tr>

													<tr>

														<td class="thumbnail-img"><a href="#"> <img
																class="img-fluid" src="../temp1/images/img-pro-03.jpg"
																alt="" />
														</a></td>

														<td class="name-pr"><a href="#"> Lorem ipsum
																dolor sit amet </a></td>

														<td class="price-pr">

															<p>$ 30.0</p>
														</td>

														<td class="quantity-box"><input type="number"
															size="4" value="1" min="0" step="1"
															class="c-input-text qty text" /></td>

														<td class="total-pr">

															<p>$ 80.0</p>
														</td>

														<td class="remove-pr"><a href="#"> <i
																class="fas fa-times" />
														</a></td>
													</tr>
												</tbody>
											</h:dataTable>
										</h:form>
									</table>
								</div>
							</div>
						</div>

						<div class="row my-5">

							<div class="col-lg-6 col-sm-6">

								<div class="coupon-box">

									<div class="input-group input-group-sm">
										<input class="form-control"
											placeholder="Enter your coupon code" aria-label="Coupon code"
											type="text" />

										<div class="input-group-append">
											<button class="btn btn-theme" type="button">Apply
												Coupon</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-sm-6">

								<div class="update-box">
									<!-- 								<input value="Update Cart" type="submit" /> -->

									<h:commandButton class="btn btn-theme"
										action="#{PanierController.updateLigne(panier.id,panier.quantity,AdminController.authenticatedClient.userId)}"
										value="update" />

								</div>
							</div>
						</div>
						<h:form>
							<!-- 					<f:metadata   > -->
							<!-- 							  <f:viewParam id="id" value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId)}" -->
							<!-- 							var="cmd"  /> -->
							<!-- 						<h:dataTable -->
							<!-- 							value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId)}" -->
							<!-- 							var="commande"  > -->
							<div class="row my-5">

								<div class="col-lg-8 col-sm-12" />

								<div class="col-lg-4 col-sm-12">

									<div class="order-box">

										<h3>Order summary</h3>

										<div class="d-flex">

											<h4>Sub Total</h4>



											<div class="ml-auto font-weight-bold">


												<h:outputText
													value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).prixtotale} DT" />
											</div>
										</div>

										<div class="d-flex">

											<h4>Discount</h4>

											<div class="ml-auto font-weight-bold">
												<h:outputText
													value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).poucentage}" />
											</div>
										</div>
									</div>

									<hr class="my-1" />

									<div class="d-flex">

										<h4>Accumulated Point</h4>

										<div class="ml-auto font-weight-bold">

											<h:outputText
												value="#{CommandeController.pt_merci(CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).id)}" />
										</div>
									</div>

									<!-- 								<div class="d-flex"> -->

									<!-- 									<h4>Tax</h4> -->

									<!-- 									<div class="ml-auto font-weight-bold">$ 2</div> -->
									<!-- 								</div> -->

									<div class="d-flex">

										<h4>Shipping Cost</h4>

										<div class="ml-auto font-weight-bold">Free</div>
									</div>

									<hr />

									<div class="d-flex gr-total">

										<h5>Grand Total</h5>

										<div class="ml-auto h5">
											<h:outputText
												value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).prix_after_remise} DT" />

										</div>
									</div>

									<hr />

									<div class="shipping -mrxxl -mbm">Frais de livraison non
										inclus pour le moment</div>

								</div>
							</div>
							<!-- 						</h:dataTable> -->
							<!-- 						</f:metadata> -->
						</h:form>
						<div class="col-12 d-flex shopping-box">
							<a href="../template/shop.jsf" class="ml-auto btn hvr-hover">Poursuivre
								vos achats</a> <a href="../template/checkout.jsf"
								class="ml-auto btn hvr-hover">Finaliser votre commande</a>
						</div>
					</div>
				</div>
			</h:panelGroup>
			<!-- End Cart -->
			<!-- Start Instagram Feed  -->

			<div class="instagram-box">

				<div class="main-instagram owl-carousel owl-theme">

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-01.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-02.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-03.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-04.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-05.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-06.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-07.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-08.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-09.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-05.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Instagram Feed  -->
			<!-- Start Footer  -->

			<!-- End Footer  -->
			<!-- Start copyright  -->


			<!-- End copyright  -->
			<a href="#" id="back-to-top" title="Back to top"
				style="display: none;">↑</a>
			<!-- ALL JS FILES -->

			<script src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

			<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

			<script src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
			<!-- ALL PLUGINS -->

			<script
				src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

			<script src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

			<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

			<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

			<script src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

			<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

			<script src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

			<script src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
			<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
			<script src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>


			<script src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

			<script src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

			<script src="http://localhost:8081/temp1/js/custom.js"></script>

		</h:body>
	</ui:define>
</ui:composition>

