<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
	<!-- Basic -->
	<ui:param name="checkout" value="Accueil" />
	<ui:define name="checkout">
		<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Site Metas -->

<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<meta name="author" content="" />
<!-- Site Icons -->
<link rel="shortcut icon" href="../temp1/images/favicon.ico"
	type="image/x-icon" />
<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
<!-- Site CSS -->
<link rel="stylesheet" href="../temp1/css/style.css" />
<!-- Responsive CSS -->
<link rel="stylesheet" href="../temp1/css/responsive.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="../temp1/css/custom.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		</head>


		<h:body>

			<!-- Start Main Top -->

			<!-- End Top Search -->
			<!-- Start All Title Box -->

			<div class="all-title-box">

				<div class="container">

					<div class="row">

						<div class="col-lg-12">

							<h2>Checkout</h2>

							<ul class="breadcrumb">

								<li class="breadcrumb-item"><a href="#">Shop</a></li>

								<li class="breadcrumb-item active">Checkout</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End All Title Box -->
			<!-- Start Cart  -->

<!-- 			<div class="cart-box-main"> -->

<!-- 				<div class="container"> -->

					<!-- 			<div class="row new-account-login"> -->

					<!-- 				<div class="col-sm-6 col-lg-6 mb-3"> -->

					<!-- 					<div class="title-left"> -->

					<!-- 						<h3>Account Login</h3> -->
					<!-- 					</div> -->

					<!-- 					<h5> -->
					<!-- 						<a data-toggle="collapse" href="#formLogin" role="button" -->
					<!-- 							aria-expanded="false">Click here to Login</a> -->
					<!-- 					</h5> -->
					<!-- 					<form class="mt-3 collapse review-form-box" id="formLogin"> -->

					<!-- 						<div class="form-row"> -->

					<!-- 							<div class="form-group col-md-6"> -->
					<!-- 								<label for="InputEmail" class="mb-0">Email Address</label> <input -->
					<!-- 									type="email" class="form-control" id="InputEmail" -->
					<!-- 									placeholder="Enter Email" /> -->
					<!-- 							</div> -->

					<!-- 							<div class="form-group col-md-6"> -->
					<!-- 								<label for="InputPassword" class="mb-0">Password</label> <input -->
					<!-- 									type="password" class="form-control" id="InputPassword" -->
					<!-- 									placeholder="Password" /> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 						<button type="submit" class="btn hvr-hover">Login</button> -->
					<!-- 					</form> -->
					<!-- 				</div> -->

					<!-- 				<div class="col-sm-6 col-lg-6 mb-3"> -->

					<!-- 					<div class="title-left"> -->

					<!-- 						<h3>Create New Account</h3> -->
					<!-- 					</div> -->

					<!-- 					<h5> -->
					<!-- 						<a data-toggle="collapse" href="#formRegister" role="button" -->
					<!-- 							aria-expanded="false">Click here to Register</a> -->
					<!-- 					</h5> -->
					<!-- 					<form class="mt-3 collapse review-form-box" id="formRegister"> -->

					<!-- 						<div class="form-row"> -->

					<!-- 							<div class="form-group col-md-6"> -->
					<!-- 								<label for="InputName" class="mb-0">First Name</label> <input -->
					<!-- 									type="text" class="form-control" id="InputName" -->
					<!-- 									placeholder="First Name" /> -->
					<!-- 							</div> -->

					<!-- 							<div class="form-group col-md-6"> -->
					<!-- 								<label for="InputLastname" class="mb-0">Last Name</label> <input -->
					<!-- 									type="text" class="form-control" id="InputLastname" -->
					<!-- 									placeholder="Last Name" /> -->
					<!-- 							</div> -->

					<!-- 							<div class="form-group col-md-6"> -->
					<!-- 								<label for="InputEmail1" class="mb-0">Email Address</label> <input -->
					<!-- 									type="email" class="form-control" id="InputEmail1" -->
					<!-- 									placeholder="Enter Email" /> -->
					<!-- 							</div> -->

					<!-- 							<div class="form-group col-md-6"> -->
					<!-- 								<label for="InputPassword1" class="mb-0">Password</label> <input -->
					<!-- 									type="password" class="form-control" id="InputPassword1" -->
					<!-- 									placeholder="Password" /> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 						<button type="submit" class="btn hvr-hover">Register</button> -->
					<!-- 					</form> -->
					<!-- 				</div> -->
					<!-- 			</div> -->
					<br /> <br />
					<center>
					<div class="col-sm-6 col-lg-6 mb-3" align="center"> 
					
											<div class="col-md-12 col-lg-12">

							<div class="odr-box">

								<div class="title-left">

									<h3>Shopping cart</h3>
								</div>

								<div class="rounded p-2 bg-light">
									<ui:repeat
										value="#{PanierController.panierParIdclient(AdminController.authenticatedClient.userId)}"
										var="panier" varStatus="status">
										<div class="media mb-2 border-bottom">

											<div class="media-body">
												<a href="#"><h:outputText value="#{panier.nomProduit}" /></a>

												<div class="small text-muted">
													<h:outputText value="Price: #{panier.price}" />
													<span class="mx-2">|</span>
													<h:outputText value="Quantity: #{panier.quantity}" />
													<span class="mx-2">|</span>
													<h:outputText value="Subtotal: #{panier.total}" />
												</div>
											</div>

										</div>
									</ui:repeat>
									<!-- 											<div class="media mb-2 border-bottom"> -->

									<!-- 												<div class="media-body"> -->
									<!-- 													<a href="../template/detail.xhtml"> Lorem ipsum dolor -->
									<!-- 														sit amet</a> -->

									<!-- 													<div class="small text-muted"> -->
									<!-- 														Price: $60.00 <span class="mx-2">|</span> Qty: 1 <span -->
									<!-- 															class="mx-2">|</span> Subtotal: $60.00 -->
									<!-- 													</div> -->
									<!-- 												</div> -->
									<!-- 											</div> -->

									<!-- 											<div class="media mb-2"> -->

									<!-- 												<div class="media-body"> -->
									<!-- 													<a href="../template/detail.xhtml"> Lorem ipsum dolor -->
									<!-- 														sit amet</a> -->

									<!-- 													<div class="small text-muted"> -->
									<!-- 														Price: $40.00 <span class="mx-2">|</span> Qty: 1 <span -->
									<!-- 															class="mx-2">|</span> Subtotal: $40.00 -->
									<!-- 													</div> -->
									<!-- 												</div> -->
									<!-- 											</div> -->

								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12">

							<div class="order-box">

								<div class="title-left">

									<h3>Your order</h3>
								</div>

								<div class="d-flex">

									<div class="font-weight-bold">Product</div>

									<div class="ml-auto font-weight-bold">Total</div>
								</div>

								<hr class="my-1" />

								<div class="d-flex">

									<h4>Sub Total</h4>

									<div class="ml-auto font-weight-bold">
										<h:outputText
											value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).prixtotale} DT" />

									</div>
								</div>

								<div class="d-flex">

									<h4>Discount</h4>

									<div class="ml-auto font-weight-bold">
										<h:outputText
											value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).poucentage}" />
									</div>
								</div>

								<hr class="my-1" />

								<div class="d-flex">

									<h4>Accumulated Point</h4>

									<div class="ml-auto font-weight-bold">
										<h:outputText
											value="#{CommandeController.pt_merci(CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).id)}" />
									</div>
								</div>

								<!-- 								<div class="d-flex"> -->

								<!-- 									<h4>Tax</h4> -->

								<!-- 									<div class="ml-auto font-weight-bold">$ 2</div> -->
								<!-- 								</div> -->

								<div class="d-flex">

									<h4>Shipping Cost</h4>

									<div class="ml-auto font-weight-bold">Free</div>
								</div>

								<hr />

								<div class="d-flex gr-total">

									<h5>Grand Total</h5>

									<div class="ml-auto h5">
										<h:outputText
											value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).prix_after_remise} DT" />
									</div>
								</div>

								<hr />
							</div>
						</div>
					
					
					<h:form>
<!-- 						<div class="row"> -->

<!-- 							<div class="col-sm-6 col-lg-6 mb-3"> -->

								<!-- 							<div class="checkout-address"> -->

								<!-- 								<div class="title-left"> -->
								<!-- 									<h3>Billing address</h3> -->
								<!-- 								</div> -->
								<!-- 							<form class="needs-validation" novalidate=""> -->

								<!-- 									<div class="row"> -->

								<!-- 										<div class="col-md-6 mb-3"> -->
								<!-- 											<label for="firstName">First name *</label> <input -->
								<!-- 												type="text" class="form-control" id="firstName" -->
								<!-- 												placeholder="" value="" required="" /> -->

								<!-- 											<div class="invalid-feedback">Valid first name is -->
								<!-- 												required.</div> -->
								<!-- 										</div> -->

								<!-- 										<div class="col-md-6 mb-3"> -->
								<!-- 											<label for="lastName">Last name *</label> <input type="text" -->
								<!-- 												class="form-control" id="lastName" placeholder="" value="" -->
								<!-- 												required="" /> -->

								<!-- 											<div class="invalid-feedback">Valid last name is -->
								<!-- 												required.</div> -->
								<!-- 										</div> -->
								<!-- 									</div> -->

								<!-- 									<div class="mb-3"> -->
								<!-- 										<label for="username">Username *</label> -->

								<!-- 										<div class="input-group"> -->
								<!-- 											<input type="text" class="form-control" id="username" -->
								<!-- 												placeholder="" required="" /> -->

								<!-- 											<div class="invalid-feedback" style="width: 100%;">Your -->
								<!-- 												username is required.</div> -->
								<!-- 										</div> -->
								<!-- 									</div> -->

								<!-- 									<div class="mb-3"> -->
								<!-- 										<label for="email">Email Address *</label> <input type="email" -->
								<!-- 											class="form-control" id="email" placeholder="" /> -->

								<!-- 										<div class="invalid-feedback">Please enter a valid email -->
								<!-- 											address for shipping updates.</div> -->
								<!-- 									</div> -->

								<!-- 									<div class="mb-3"> -->
								<!-- 										<label for="address">Address *</label> <input type="text" -->
								<!-- 											class="form-control" id="address" placeholder="" required="" /> -->

								<!-- 										<div class="invalid-feedback">Please enter your shipping -->
								<!-- 											address.</div> -->
								<!-- 									</div> -->

								<!-- 									<div class="mb-3"> -->
								<!-- 										<label for="address2">Address 2 *</label> <input type="text" -->
								<!-- 											class="form-control" id="address2" placeholder="" /> -->
								<!-- 									</div> -->

								<!-- 									<div class="row"> -->

								<!-- 										<div class="col-md-5 mb-3"> -->
								<!-- 											<label for="country">Country *</label> <select -->
								<!-- 												class="wide w-100" id="country"> -->

								<!-- 												<option value="Choose..." data-display="Select">Choose...</option> -->

								<!-- 												<option value="United States">United States</option> -->
								<!-- 											</select> -->

								<!-- 											<div class="invalid-feedback">Please select a valid -->
								<!-- 												country.</div> -->
								<!-- 										</div> -->

								<!-- 										<div class="col-md-4 mb-3"> -->
								<!-- 											<label for="state">State *</label> <select class="wide w-100" -->
								<!-- 												id="state"> -->

								<!-- 												<option data-display="Select">Choose...</option> -->

								<!-- 												<option>California</option> -->
								<!-- 											</select> -->

								<!-- 											<div class="invalid-feedback">Please provide a valid -->
								<!-- 												state.</div> -->
								<!-- 										</div> -->

								<!-- 										<div class="col-md-3 mb-3"> -->
								<!-- 											<label for="zip">Zip *</label> <input type="text" -->
								<!-- 												class="form-control" id="zip" placeholder="" required="" /> -->

								<!-- 											<div class="invalid-feedback">Zip code required.</div> -->
								<!-- 										</div> -->
								<!-- 									</div> -->

								<!-- 									<hr class="mb-4" /> -->

								<!-- 									<div class="custom-control custom-checkbox"> -->
								<!-- 										<input type="checkbox" class="custom-control-input" -->
								<!-- 											id="same-address" /> <label class="custom-control-label" -->
								<!-- 											for="same-address">Shipping address is the same as my -->
								<!-- 											billing address</label> -->
								<!-- 									</div> -->

								<!-- 									<div class="custom-control custom-checkbox"> -->
								<!-- 										<input type="checkbox" class="custom-control-input" -->
								<!-- 											id="save-info" /> <label class="custom-control-label" -->
								<!-- 											for="save-info">Save this information for next time</label> -->
								<!-- 									</div> -->

								<!-- 									<hr class="mb-4" /> -->

								<!-- 									<div class="title"> -->
								<!-- 										<span>Payment</span> -->
								<!-- 									</div> -->

								<!-- 									<div class="d-block my-3"> -->

								<!-- 																		<div class="custom-control custom-radio"> -->
								<!-- 																			<input id="credit" name="paymentMethod" type="radio" -->
								<!-- 																				class="custom-control-input" checked="checked" required="" /> -->
								<!-- 																			<label class="custom-control-label" for="credit">Credit -->
								<!-- 																				card</label> -->
								<!-- 																		</div> -->

								<!-- 										<div class="custom-control custom-radio"> -->
								<!-- 											<input id="debit" name="paymentMethod" type="radio" -->
								<!-- 												class="custom-control-input" required="" /> <label -->
								<!-- 												class="custom-control-label" for="debit">Port A Port</label> -->
								<!-- 										</div> -->

								<!-- 										<div class="custom-control custom-radio"> -->
								<!-- 											<input id="paypal" name="paymentMethod" type="radio" -->
								<!-- 												class="custom-control-input" required="" /> <label -->
								<!-- 												class="custom-control-label" for="paypal">Stripe</label> -->
								<!-- 										</div> -->
								<!-- 									</div> -->

								<!-- 										<div class="col-md-6 mb-3"> -->
								<!-- 											<label for="cc-name">Credit card number</label> -->
								<!-- 																						<input type="text" -->
								<!-- 																							class="form-control" id="cc-name" placeholder="" required="" /> -->
								<!-- 											<h:inputText value="#{PanierController.carta}"></h:inputText> -->
								<!-- 											<small class="text-muted">Full name as displayed on -->
								<!-- 												card</small> -->

								<!-- 											<div class="invalid-feedback">Name on card is required</div> -->
								<!-- 										</div> -->

								<!-- 										<div class="col-md-6 mb-3"> -->
								<!-- 											<label for="cc-number">expMonth</label> -->
								<!-- 																						 <input -->
								<!-- 																							type="text" class="form-control" id="cc-number" -->
								<!-- 																							placeholder="" required="" /> -->
								<!-- 											<h:inputText value="#{PanierController.expMonth}"></h:inputText> -->

								<!-- 											<div class="invalid-feedback">Credit card number is -->
								<!-- 												required</div> -->
								<!-- 										</div> -->
								<!-- 									</div> -->

								<div class="row">

									<div class="col-md-6 mb-3">
										<label for="cc-name">Credit card number</label>
										<!--  <input -->
										<!-- 											type="text" class="form-control" id="cc-name" placeholder="" -->
										<!-- 											required="" /> -->
										<h:inputText value="#{PanierController.carta}" required="true" ></h:inputText>
										<!-- 										<small class="text-muted">Full name as displayed on -->
										<!-- 											card</small> -->

										<!-- 										<div class="invalid-feedback">Name on card is required</div> -->
									</div>

									<div class="col-md-6 mb-3">
										<!-- 										<label for="cc-number">expMonth</label> -->
										<h:outputText value="expMonth"></h:outputText>
										<!--  <input type="text" -->
										<!-- 											class="form-control" id="cc-number" placeholder="" -->
										<!-- 											required="" /> -->
										<h:inputText value="#{PanierController.expMonth}"></h:inputText>

										<!-- 										<div class="invalid-feedback">Credit card number is required</div> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mb-3">
										<h:outputText value="expYear"></h:outputText>
										<!-- 											<input type="text" -->
										<!-- 												class="form-control" id="cc-expiration" placeholder="" -->
										<!-- 												required="" /> -->
										<h:inputText value="#{PanierController.expYear}"></h:inputText>
										<!-- 										<div class="invalid-feedback">Expiration date required</div> -->
									</div>

									<div class="col-md-6 mb-3">
										<label for="cc-expiration">CVV</label>
										<!-- 											<input type="text" -->
										<!-- 												class="form-control" id="cc-cvv" placeholder="" required="" /> -->
										<h:inputText value="#{PanierController.cvc}"></h:inputText>

										<!-- 										<div class="invalid-feedback">Security code required</div> -->
									</div>
								</div>
<!-- 							</div> -->
							<div class="col-md-6 mb-3">

								<div class="payment-icon">

									<ul>

										<li><img class="img-fluid"
											src="../temp1/images/payment-icon/1.png" alt="" /></li>

										<li><img class="img-fluid"
											src="../temp1/images/payment-icon/2.png" alt="" /></li>

										<li><img class="img-fluid"
											src="../temp1/images/payment-icon/3.png" alt="" /></li>

										<li><img class="img-fluid"
											src="../temp1/images/payment-icon/5.png" alt="" /></li>

										<li><img class="img-fluid"
											src="../temp1/images/payment-icon/stripe.png" alt="" /></li>
									</ul>
<!-- 								</div> -->
							
							</div>
						</div><a href="../template/facture.jsf">
							<h:commandButton value="Place Order"
							action="#{PanierController.Pay(CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).id,AdminController.authenticatedClient.userId,PanierController.carta,PanierController.expMonth,PanierController.expYear,PanierController.cvc)}" 
							  /></a>
													
					</h:form>
					<!-- 									<div class="row"> -->


					<hr class="mb-1" />
					</div>
					</center>

					<!-- 								</form> -->
<!-- 				</div> -->
				<!-- 						</div> -->

<!-- 				<div class="col-sm-6 col-lg-6 mb-3"> -->

<!-- 					<div class="row"> -->

<!-- 						<div class="col-md-12 col-lg-12"> -->

							<!-- 									<div class="shipping-method-box"> -->

							<!-- 										<div class="title-left"> -->

							<!-- 											<h3>Shipping Method</h3> -->
							<!-- 										</div> -->

							<!-- 										<div class="mb-4"> -->

							<!-- 											<div class="custom-control custom-radio"> -->
							<!-- 												<input id="shippingOption1" name="shipping-option" -->
							<!-- 													class="custom-control-input" checked="checked" type="radio" /> -->
							<!-- 												<label class="custom-control-label" for="shippingOption1">Standard -->
							<!-- 													Delivery</label> <span class="float-right font-weight-bold">FREE</span> -->
							<!-- 											</div> -->

							<!-- 											<div class="ml-4 mb-2 small">(3-7 business days)</div> -->

							<!-- 											<div class="custom-control custom-radio"> -->
							<!-- 												<input id="shippingOption2" name="shipping-option" -->
							<!-- 													class="custom-control-input" type="radio" /> <label -->
							<!-- 													class="custom-control-label" for="shippingOption2">Express -->
							<!-- 													Delivery</label> <span class="float-right font-weight-bold">$10.00</span> -->
							<!-- 											</div> -->

							<!-- 											<div class="ml-4 mb-2 small">(2-4 business days)</div> -->

							<!-- 											<div class="custom-control custom-radio"> -->
							<!-- 												<input id="shippingOption3" name="shipping-option" -->
							<!-- 													class="custom-control-input" type="radio" /> <label -->
							<!-- 													class="custom-control-label" for="shippingOption3">Next -->
							<!-- 													Business day</label> <span class="float-right font-weight-bold">$20.00</span> -->
							<!-- 											</div> -->
							<!-- 										</div> -->
							<!-- 									</div> -->
<!-- 						</div> -->




					
					
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->

			<!-- 			</div> -->

			<!-- End Cart -->
			<!-- Start Instagram Feed  -->

			<div class="instagram-box">

				<div class="main-instagram owl-carousel owl-theme">

					<div class="item">

						<div class="ins-inner-box">
							<img src="images/instagram-img-01.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-02.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-03.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-04.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-05.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-06.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-07.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-08.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-09.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>

					<div class="item">

						<div class="ins-inner-box">
							<img src="../temp1/images/instagram-img-05.jpg" alt="" />

							<div class="hov-in">
								<a href="#"><i class="fab fa-instagram" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Instagram Feed  -->
			<!-- Start Footer  -->

			<!-- End copyright  -->
			<a href="#" id="back-to-top" title="Back to top"
				style="display: none;">↑</a>
			<!-- ALL JS FILES -->

		
			<script
			src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

		<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->

		<script
			src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

		<script
			src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
		<script
			src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>
			    

		<script
			src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

		<script src="http://localhost:8081/temp1/js/custom.js"></script>
		            
	</h:body>
</ui:define>
</ui:composition>