<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="Aviato E-Commerce Template" />

	<meta name="author" content="Themefisher.com" />

	<title>Aviato | E-commerce template</title>

	<!-- Mobile Specific Meta-->
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon"
		href="../temp2/images/favicon.png" />

	<!-- Themefisher Icon font -->
	<link rel="stylesheet"
		href="../temp2/plugins/themefisher-font/style.css" />
	<!-- bootstrap.min css -->
	<link rel="stylesheet"
		href="../temp2/plugins/bootstrap/css/bootstrap.min.css" />

	<!-- Revolution Slider -->
	<link rel="stylesheet" type="text/css"
		href="../temp2/plugins/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
	<link rel="stylesheet" type="text/css"
		href="../temp2/plugins/revolution-slider/revolution/fonts/font-awesome/css/font-awesome.css" />

	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css"
		href="../temp2/plugins/revolution-slider/revolution/css/settings.css" />
	<link rel="stylesheet" type="text/css"
		href="../temp2/plugins/revolution-slider/revolution/css/layers.css" />
	<link rel="stylesheet" type="text/css"
		href="../temp2/plugins/revolution-slider/revolution/css/navigation.css" />

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../temp2/css/style.css" />

</h:head>

<h:body id="body">

	<section class="signin-page account">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="block text-center">
					<a class="logo" href="index-2.html"> <img
						src="../temp1/images/logo1.png" alt="" />
					</a>
					<h2 class="text-center">Create Your Account</h2>
					
					<form class="text-left clearfix">
						<h:form>
						<div class="form-group">
						
						<h:inputText class="form-control" value="#{ClientController.userName}" a:placeholder="UserName"></h:inputText>
<!-- 							<input type="text" class="form-control" placeholder="First Name" /> -->
						</div>
						<div class="form-group">
								
						<h:inputSecret class="form-control" value="#{ClientController.encrytedPassword}" a:placeholder="Password" ></h:inputSecret>
<!-- 							<input type="text" class="form-control" placeholder="Last Name" /> -->
						</div>
						<div class="form-group">
						<h:inputText class="form-control" value="#{ClientController.nom}" a:placeholder="Frist Name"></h:inputText>
<!-- 							<input type="text" class="form-control" placeholder="Username" /> -->
						</div>
						<div class="form-group">
							<h:inputText class="form-control" value="#{ClientController.prenom}" a:placeholder="Last Name"></h:inputText>
<!-- 							<input type="email" class="form-control" placeholder="Email" /> -->
						</div>
						<div class="form-group">
							<h:inputText class="form-control" value="#{ClientController.address}" a:placeholder="Your Adresse"></h:inputText>
<!-- 							<input type="email" class="form-control" placeholder="Email" /> -->
						</div>
						<div class="form-group">
							<h:inputText class="form-control" value="#{ClientController.email}" a:placeholder="Email"></h:inputText>
<!-- 							<input type="email" class="form-control" placeholder="Email" /> -->
						</div>
						<div class="form-group">
							<h:inputText class="form-control" value="#{ClientController.cin}" a:placeholder="CIN"></h:inputText>
<!-- 							<input type="email" class="form-control" placeholder="Email" /> -->
						</div>
						<div class="form-group">
						<h:inputText class="form-control" value="#{ClientController.num_tel}" a:placeholder="Number Phone"></h:inputText>
<!-- 							<input type="password" class="form-control" -->
<!-- 								placeholder="Password" /> -->
						</div>
						<div class="text-center">
						<h:commandButton class="btn btn-main text-center"  value="Sign In"
								action="#{ClientController.addClient()}" />
<!-- 							<button type="submit" class="btn btn-main text-center">Sign -->
<!-- 								In</button> -->
						</div>
						</h:form>
						</form>
						
					
						
					<p class="mt-20">
						Already hava an account ?<a href="cnx.jsf"> Login</a>
					</p>
					<p>
						<a href="mdp.jsf"> Forgot your password?</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	</section>


	<!-- 
    Essential Scripts
    =====================================-->

	<!-- Main jQuery -->
	<script src="../temp2/plugins/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.1 -->
	<script src="../temp2/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- Bootstrap Touchpin -->
	<script
		src="../temp2/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<!-- Instagram Feed Js -->
	<script src="../temp2/plugins/instafeed-js/instafeed.min.js"></script>
	<!-- Video Lightbox Plugin -->
	<script src="../temp2/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
	<!-- Count Down Js -->
	<script src="../temp2/plugins/SyoTimer/build/jquery.syotimer.min.js"></script>

	<!-- Revolution Slider -->
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Revolution Slider -->
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript"
		src="../temp2/plugins/revolution-slider/assets/warning.js"></script>



	<!-- Google Mapl -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
	<script type="text/javascript"
		src="../temp2/plugins/google-map/gmap.js"></script>

	<!-- Main Js File -->
	<script src="js/script.js"></script>



</h:body>

<!-- Mirrored from demo.themefisher.com/themefisher/aviato/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Nov 2019 17:40:16 GMT -->
</html>