<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/template/template.xhtml">
	<!-- Basic -->
	<ui:param name="facture" value="Accueil" />
	<ui:define name="facture">
		<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Site Metas -->

<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<meta name="author" content="" />
<!-- Site Icons -->
<link rel="shortcut icon" href="../temp1/images/favicon.ico"
	type="/image/x-icon" />
<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
<!-- Site CSS -->
<link rel="stylesheet" href="../temp1/css/style.css" />
<!-- Responsive CSS -->
<link rel="stylesheet" href="../temp1/css/responsive.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="../temp1/css/custom.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		</head>

		<h:body>
		<center>
		<h:form>	
		<h:commandButton image="../resources/images/facture.png" action="#{PanierController.facturepdf(PanierController.facture.id)}">
		<a>
<!-- 			<img src="../resources/images/facture.png" alt=""  /> -->
        </a>  
        </h:commandButton> 
        </h:form>
        </center>
		</h:body>
		</ui:define>
		</ui:composition>
		