<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<!-- Basic -->
<!-- Start Footer  -->
<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" />
	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
	<!-- Site CSS -->
	<link rel="stylesheet" href="../temp1/css/style.css" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../temp1/css/responsive.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../temp1/css/custom.css" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<h:body>
	<footer>

	<div class="footer-main">

		<div class="container">

			<div class="row">

				<div class="col-lg-4 col-md-12 col-sm-12">

					<div class="footer-widget">

						<h4>About ThewayShop</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

						<ul>

							<li><a href="#"><i class="fab fa-facebook"
									aria-hidden="true" /></a></li>

							<li><a href="#"><i class="fab fa-twitter"
									aria-hidden="true" /></a></li>

							<li><a href="#"><i class="fab fa-linkedin"
									aria-hidden="true" /></a></li>

							<li><a href="#"><i class="fab fa-google-plus"
									aria-hidden="true" /></a></li>

							<li><a href="#"><i class="fa fa-rss" aria-hidden="true" /></a></li>

							<li><a href="#"><i class="fab fa-pinterest-p"
									aria-hidden="true" /></a></li>

							<li><a href="#"><i class="fab fa-whatsapp"
									aria-hidden="true" /></a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-md-12 col-sm-12">

					<div class="footer-link">

						<h4>Information</h4>

						<ul>

							<li><a href="#">About Us</a></li>

							<li><a href="#">Customer Service</a></li>

							<li><a href="#">Our Sitemap</a></li>

							<li><a href="#">Terms &amp; Conditions</a></li>

							<li><a href="#">Privacy Policy</a></li>

							<li><a href="#">Delivery Information</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-md-12 col-sm-12">

					<div class="footer-link-contact">

						<h4>Contact Us</h4>

						<ul>

							<li>

								<p>
									<i class="fas fa-map-marker-alt" />Address: Michael I. Days
									3756 <br />Preston Street Wichita,<br /> KS 67213
								</p>
							</li>

							<li>

								<p>
									<i class="fas fa-phone-square" />Phone: <a
										href="tel:+1-888705770">+1-888 705 770</a>
								</p>
							</li>

							<li>

								<p>
									<i class="fas fa-envelope" />Email: <a
										href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>
	<!-- Start copyright  -->

	<div class="footer-copyright">

		<p class="footer-company">
			All Rights Reserved. © 2018 <a href="#">ThewayShop</a> Design By : <a
				href="https://html.design/">html design</a>
		</p>
	</div>
	<!-- End copyright  -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">↑</a>
	<!-- ALL JS FILES -->

	<script
			src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

		<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->

		<script
			src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

		<script
			src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
		<script
			src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>
			    

		<script
			src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

		<script src="http://localhost:8081/temp1/js/custom.js"></script>
		            
	</h:body>

</ui:composition>

