<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Meta, title, CSS, favicons, etc. -->

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Gentelella Alela! |</title>
	<!-- Bootstrap -->
	<link href="../vendors/bootstrap/dist/css/bootstrap.min.css"
		rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="../vendors/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" />
	<!-- NProgress -->
	<link href="../vendors/nprogress/nprogress.css" rel="stylesheet" />
	<!-- Custom Theme Style -->
	<link href="../build/css/custom.min.css" rel="stylesheet" />
</h:head>

<h:body class="nav-md">

	<div class="container body">

		<div class="main_container">

			<div class="col-md-3 left_col">

				<div class="left_col scroll-view">

					<div class="navbar nav_title" style="border: 0px;">
						<a href="index.html" class="site_title"><i class="fa fa-paw" />
							<span>Gentelella Alela!</span></a>
					</div>

					<div class="clearfix" />
					<!-- menu profile quick info -->

					<div class="profile clearfix">

						<div class="profile_pic">
							<img src="images/img.jpg" alt="..."
								class="img-circle profile_img" />
						</div>

						<div class="profile_info">
							<span>Welcome,</span>

							<h2>John Doe</h2>
						</div>
					</div>
					<!-- /menu profile quick info -->
					<br />
					<!-- sidebar menu -->

					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">

						<div class="menu_section">

							<h3>General</h3>

							<ul class="nav side-menu">

								<li><a><i class="fa fa-home" /> Home <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="index.html">Dashboard</a></li>

										<li><a href="index2.html">Dashboard2</a></li>

										<li><a href="index3.html">Dashboard3</a></li>
									</ul></li>

								<li><a><i class="fa fa-edit" /> Forms <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="form.html">General Form</a></li>

										<li><a href="form_advanced.html">Advanced Components</a></li>

										<li><a href="form_validation.html">Form Validation</a></li>

										<li><a href="form_wizards.html">Form Wizard</a></li>

										<li><a href="form_upload.html">Form Upload</a></li>

										<li><a href="form_buttons.html">Form Buttons</a></li>
									</ul></li>

								<li><a><i class="fa fa-desktop" /> UI Elements <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="general_elements.html">General Elements</a></li>

										<li><a href="media_gallery.html">Media Gallery</a></li>

										<li><a href="typography.html">Typography</a></li>

										<li><a href="icons.html">Icons</a></li>

										<li><a href="glyphicons.html">Glyphicons</a></li>

										<li><a href="widgets.html">Widgets</a></li>

										<li><a href="invoice.html">Invoice</a></li>

										<li><a href="inbox.html">Inbox</a></li>

										<li><a href="calendar.html">Calendar</a></li>
									</ul></li>

								<li><a><i class="fa fa-table" /> Tables <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="tables.html">Tables</a></li>

										<li><a href="tables_dynamic.html">Table Dynamic</a></li>
									</ul></li>

								<li><a><i class="fa fa-bar-chart-o" /> Data
										Presentation <span class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="chartjs.html">Chart JS</a></li>

										<li><a href="chartjs2.html">Chart JS2</a></li>

										<li><a href="morisjs.html">Moris JS</a></li>

										<li><a href="echarts.html">ECharts</a></li>

										<li><a href="other_charts.html">Other Charts</a></li>
									</ul></li>

								<li><a><i class="fa fa-clone" />Layouts <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>

										<li><a href="fixed_footer.html">Fixed Footer</a></li>
									</ul></li>
							</ul>
						</div>

						<div class="menu_section">

							<h3>Live On</h3>

							<ul class="nav side-menu">

								<li><a><i class="fa fa-bug" /> Additional Pages <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="e_commerce.html">E-commerce</a></li>

										<li><a href="projects.html">Projects</a></li>

										<li><a href="project_detail.html">Project Detail</a></li>

										<li><a href="contacts.html">Contacts</a></li>

										<li><a href="profile.html">Profile</a></li>
									</ul></li>

								<li><a><i class="fa fa-windows" /> Extras <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="page_403.html">403 Error</a></li>

										<li><a href="page_404.html">404 Error</a></li>

										<li><a href="page_500.html">500 Error</a></li>

										<li><a href="plain_page.html">Plain Page</a></li>

										<li><a href="login.html">Login Page</a></li>

										<li><a href="pricing_tables.html">Pricing Tables</a></li>
									</ul></li>

								<li><a><i class="fa fa-sitemap" /> Multilevel Menu <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="#level1_1">Level One</a></li>
										<li><a>Level One<span class="fa fa-chevron-down" /></a>

											<ul class="nav child_menu">

												<li class="sub_menu"><a href="level2.html">Level
														Two</a></li>

												<li><a href="#level2_1">Level Two</a></li>

												<li><a href="#level2_2">Level Two</a></li>
											</ul></li>

										<li><a href="#level1_2">Level One</a></li>
									</ul></li>

								<li><a href="javascript:void(0)"><i
										class="fa fa-laptop" /> Landing Page <span
										class="label label-success pull-right">Coming Soon</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->

					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true" />
						</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true" />
						</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
							class="glyphicon glyphicon-eye-close" aria-hidden="true" />
						</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
							href="login.html"> <span class="glyphicon glyphicon-off"
							aria-hidden="true" />
						</a>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>
			<!-- top navigation -->

			<div class="top_nav">

				<div class="nav_menu">

					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars" /></a>
					</div>
					<nav class="nav navbar-nav">

					<ul class=" navbar-right">

						<li class="nav-item dropdown open" style="padding-left: 15px;">
							<a href="javascript:;" class="user-profile dropdown-toggle"
							aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown"
							aria-expanded="false"> <img src="images/img.jpg" alt="" />John
								Doe
						</a>

							<div class="dropdown-menu dropdown-usermenu pull-right"
								aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="javascript:;"> Profile</a> <a
									class="dropdown-item" href="javascript:;"> <span
									class="badge bg-red pull-right">50%</span> <span>Settings</span>
								</a> <a class="dropdown-item" href="javascript:;">Help</a> <a
									class="dropdown-item" href="login.html"><i
									class="fa fa-sign-out pull-right" /> Log Out</a>
							</div>
						</li>

						<li role="presentation" class="nav-item dropdown open"><a
							href="javascript:;" class="dropdown-toggle info-number"
							id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-envelope-o" /> <span class="badge bg-green">6</span>
						</a>

							<ul class="dropdown-menu list-unstyled msg_list" role="menu"
								aria-labelledby="navbarDropdown1">

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item">

									<div class="text-center">
										<a class="dropdown-item"> <strong>See All Alerts</strong>
											<i class="fa fa-angle-right" />
										</a>
									</div>
								</li>
							</ul></li>
					</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->

			<div class="right_col" role="main" style="min-height: 942px;">

				<div class="">

					<div class="page-title">

						<div class="title_left">

							<h3>Form Validation</h3>
						</div>

						<div class="title_right">

							<div class="col-md-5 col-sm-5 form-group pull-right top_search">

								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Search for..." /> <span class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix" />

					<div class="row">

						<div class="col-md-12 col-sm-12">

							<div class="x_panel">

								<div class="x_title">

									<h2>
										Form validation <small>sub title</small>
									</h2>

									<ul class="nav navbar-right panel_toolbox">

										<li><a class="collapse-link"><i
												class="fa fa-chevron-up" /></a></li>

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false"><i
												class="fa fa-wrench" /></a>

											<div class="dropdown-menu"
												aria-labelledby="dropdownMenuButton">
												<a class="dropdown-item" href="#">Settings 1</a> <a
													class="dropdown-item" href="#">Settings 2</a>
											</div></li>

										<li><a class="close-link"><i class="fa fa-close" /></a>
										</li>
									</ul>

									<div class="clearfix" />
								</div>

								<div class="x_content">
									<form class="" action="" method="post" novalidate="">

										<p>
											For alternative validation library
											<code>parsleyJS</code>
											check out in the <a href="form.html">form page</a>
										</p>
										<span class="section">Personal Info</span>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Name<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" data-validate-length-range="6"
													data-validate-words="2" name="name"
													placeholder="ex. John f. Kennedy" required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Occupation<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" name="occupation"
													data-validate-length-range="5,15" type="text" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">email<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" name="email" required="required"
													type="email" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Confirm
												email address<span class="required">*</span>
											</label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="email"
													name="confirm_email" data-validate-linked="email"
													required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Number
												<span class="required">*</span>
											</label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="number" name="number"
													data-validate-minmax="10,100" required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Date<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="date" name="date"
													required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Time<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="time" name="time"
													required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Password<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="password" name="password"
													data-validate-length="6,8" required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Repeat
												password<span class="required">*</span>
											</label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="password" name="password2"
													data-validate-linked="password" required="required" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">Telephone<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<input class="form-control" type="tel" name="phone"
													required="required" data-validate-length-range="8,20" />
											</div>
										</div>

										<div class="field item form-group">
											<label class="col-form-label col-md-3 col-sm-3  label-align">message<span
												class="required">*</span></label>

											<div class="col-md-6 col-sm-6">
												<textarea required="required" name="message"></textarea>
											</div>
										</div>

										<div class="ln_solid">

											<div class="form-group">

												<div class="col-md-6 offset-md-3">
													<button type="submit" class="btn btn-primary">Submit</button>
													<button type="reset" class="btn btn-success">Reset</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->
			<!-- footer content -->
			<h:footer>

			<div class="pull-right">
				Gentelella - Bootstrap Admin Template by <a
					href="https://colorlib.com">Colorlib</a>
			</div>

			<div class="clearfix" />
			</h:footer>
			<!-- /footer content -->
		</div>
	</div>

	<script
		src="../vendors/jquery/jquery.min.js"></script>

	<script src="../vendors/validator/multifield.js"></script>

	<script src="../vendors/validator/validator.js"></script>

	<script>
		// initialize a validator instance from the "FormValidator" constructor.
		// A "&lt;form&gt;" element is optionally passed as an argument, but is not a must
		var validator = new FormValidator({
			"events" : [ 'blur', 'input', 'change' ]
		}, document.forms[0]);
		// on form "submit" event
		document.forms[0].onsubmit = function(e) {
			var submit = true, validatorResult = validator.checkAll(this);
			console.log(validatorResult);
			return !!validatorResult.valid;
		};
		// on form "reset" event
		document.forms[0].onreset = function(e) {
			validator.reset();
		};
		// stuff related ONLY for this demo page:
		$('.toggleValidationTooltips').change(function() {
			validator.settings.alerts = !this.checked;
			if (this.checked)
				$('form .alert').remove();
		}).prop('checked', false);
	</script>
	<!-- jQuery -->

	<script src="../vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->

	<script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- FastClick -->

	<script src="../vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->

	<script src="../vendors/nprogress/nprogress.js"></script>
	<!-- validator -->
	<!-- <script src="../vendors/validator/validator.js"></script> -->
	<!-- Custom Theme Scripts -->

	<script src="../build/js/custom.min.js"></script>
</h:body>
</html>