<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<!-- Basic -->
	<head>

<meta charset="utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Site Metas -->

<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<meta name="author" content="" />
<!-- Site Icons -->
<link rel="shortcut icon" href="../temp1/images/favicon.ico"
	type="/image/x-icon" />
<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
<!-- Site CSS -->
<link rel="stylesheet" href="../temp1/css/style.css" />
<!-- Responsive CSS -->
<link rel="stylesheet" href="../temp1/css/responsive.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="../temp1/css/custom.css" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<h:body>
		<!-- Start Main Top -->

		<div class="main-top">

			<div class="container-fluid">

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

						<div class="text-slid-box">

							<div id="offer-box" class="carouselTicker">

								<ul class="offer-box">

									<li><i class="fab fa-opencart" /> Off 10%! Shop Now Man</li>

								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



						<div class="right-phone-box">
							<h:outputText
								value="Bonjour #{AdminController.authenticatedClient.prenom} #{AdminController.authenticatedClient.nom}" />
						</div>

						<div class="our-link">

							<ul>

								<li><a href="#">My Account</a></li>

								<li><a href="#">Our location</a></li>

								<li><h:form>
										<h:commandLink value="LOGOUT"
											action="#{AdminController.doLogout()}"></h:commandLink>
									</h:form></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Main Top -->
		<!-- Start Main Top -->
		<header class="main-header"> <!-- Start Navigation --> <nav
			class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">

		<div class="container">
			<!-- Start Header Navigation -->

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbar-menu" aria-controls="navbars-rs-food"
					aria-expanded="true" aria-label="Toggle navigation">
					<i class="fa fa-bars" />
				</button>
				<a class="navbar-brand" href="../template/index.xhtml"><img
					src="../temp1/images/logo1.png" class="logo" alt="" /></a>
			</div>
			<!-- End Header Navigation -->
			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse" id="navbar-menu">

				<ul class="nav navbar-nav ml-auto" data-in="fadeInDown"
					data-out="fadeOutUp">

					<li class="nav-item active"><a class="nav-link"
						href="../template/index.jsf">Home</a></li>

					<li class="nav-item"><a class="nav-link"
						href="../template/about.jsf">About Us</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../template/shop.jsf">productshop</a></li>
					<li class="nav-item"><a class="nav-link"
						href="../template/blog.jsf">Blog</a></li>
					<li class="dropdown megamenu-fw"><a href="#"
						class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>

						<ul class="dropdown-menu megamenu-content" role="menu">

							<li>

								<div class="row">

									<div class="col-menu col-md-3">

										<h6 class="title">Top</h6>

										<div class="content">

											<ul class="menu-col">

												<li><a href="../template/shop.jsf">Jackets</a></li>

												<li><a href="../template/shop.jsf">Shirts</a></li>

												<li><a href="../template/shop.jsf">Sweaters &amp;
														Cardigans</a></li>

												<li><a href="../template/shop.jsf">T-shirts</a></li>
											</ul>
										</div>
									</div>
									<!-- end col-3 -->

									<div class="col-menu col-md-3">

										<h6 class="title">Bottom</h6>

										<div class="content">

											<ul class="menu-col">

												<li><a href="../template/shop.jsf">Swimwear</a></li>

												<li><a href="../template/shop.jsf">Skirts</a></li>

												<li><a href="../template/shop.jsf">Jeans</a></li>

												<li><a href="../template/shop.jsf">Trousers</a></li>
											</ul>
										</div>
									</div>
									<!-- end col-3 -->

									<div class="col-menu col-md-3">

										<h6 class="title">Clothing</h6>

										<div class="content">

											<ul class="menu-col">

												<li><a href="../template/shop.jsf">Top Wear</a></li>

												<li><a href="../template/shop.jsf">Party wear</a></li>

												<li><a href="../template/shop.jsf">Bottom Wear</a></li>

												<li><a href="../template/shop.jsf">Indian Wear</a></li>
											</ul>
										</div>
									</div>

									<div class="col-menu col-md-3">

										<h6 class="title">Accessories</h6>

										<div class="content">

											<ul class="menu-col">

												<li><a href="../template/shop.jsf">Bags</a></li>

												<li><a href="../template/shop.jsf">Sunglasses</a></li>

												<li><a href="../template/shop.jsf">Fragrances</a></li>

												<li><a href="../template/shop.jsf">Wallets</a></li>
											</ul>
										</div>
									</div>
									<!-- end col-3 -->
								</div> <!-- end row -->
							</li>
						</ul></li>

					<li class="dropdown"><a href="#"
						class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>

						<ul class="dropdown-menu">

							<li><a href="../template/cart.jsf">Cart</a></li>

							<!-- 							<li><a href="../template/checkout.jsf">Checkout</a></li> -->

							<li><a href="../template/my-account.jsf">My Account</a></li>

							<li><a href="../template/wishlist.jsf">Wishlist</a></li>

							<li><a href="../template/shop-detail.jsf">Shop Detail</a></li>
						</ul></li>



					<li class="nav-item"><a class="nav-link"
						href="../template/contact-us.jsf">Contact Us</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
			<!-- Start Atribute Navigation -->

			<div class="attr-nav">

				<ul>

					<li class="search"><a href="#"><i class="fa fa-search" /></a></li>

					<li class="side-menu"><a href="../template/cart.jsf"> <i
							class="fa fa-shopping-bag" /> <span class="badge"> <h:outputText
									value="#{PanierController.numProduitPanier(AdminController.authenticatedClient.userId)}"></h:outputText>
						</span>
					</a></li>
				</ul>
			</div>
			<!-- End Atribute Navigation -->
		</div>
		<!-- Start Side Menu -->

		<div class="side">
			<a href="cart.jsf" class="close-side"><i class="fa fa-times" /></a>

			<li class="cart-box">
				<ul class="cart-list">

					<li><ui:repeat
							value="#{PanierController.panierParIdclient(AdminController.authenticatedClient.userId)}"
							var="panier" varStatus="status">
							<a href="#" class="photo"> <!-- 							<img --> <!-- 								src="../temp1/images/img-pro-01.jpg" class="cart-thumb" alt="" /> -->
								<img src="#{ProductController.findProdimg(panier.idp)}" class="cart-thumb"
								style="width: 100%; height: 100%" alt=""/>
							</a>

							<h6>
								<a href="#"><h:outputText value="#{panier.nomProduit}" /></a>
							</h6>

							<p>
								<h:outputText value=" #{panier.quantity} x" />
								<span class="price"><h:outputText
										value=" #{panier.price} DT" /></span>
							</p>
						</ui:repeat></li>

					<!-- 						<li><a href="#" class="photo"><img -->
					<!-- 								src="../temp1/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a> -->

					<!-- 							<h6> -->
					<!-- 								<a href="#">Omnes ocurreret</a> -->
					<!-- 							</h6> -->

					<!-- 							<p> -->
					<!-- 								1x - <span class="price">$60.00</span> -->
					<!-- 							</p></li> -->

					<!-- 						<li><a href="#" class="photo"><img -->
					<!-- 								src="../temp1/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a> -->

					<!-- 							<h6> -->
					<!-- 								<a href="#">Agam facilisis</a> -->
					<!-- 							</h6> -->

					<!-- 							<p> -->
					<!-- 								1x - <span class="price">$40.00</span> -->
					<!-- 							</p></li> -->

					<li class="total"><a href="cart.jsf"
						class="btn btn-default hvr-hover btn-cart">VIEW CART</a> <span
						class="float-right"><strong>Total : </strong> <h:outputText
								value="#{CommandeController.commande_en_cour_Idclient(AdminController.authenticatedClient.userId).prix_after_remise} DT" /></span></li>
				</ul>
			</li>
		</div>
		<!-- End Side Menu --> </nav> <!-- End Navigation --> </header>
		<script src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

		<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

		<script src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->

		<script src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

		<script src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

		<script src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

		<script src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

		<script src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>


		<script src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

		<script src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

		<script src="http://localhost:8081/temp1/js/custom.js"></script>

	</h:body>

</ui:composition>

