<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
<!-- Basic -->
<ui:param name="Acceuil" value="Connexion" />
    <ui:define name="index">
<h:head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
<!-- 	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" /> -->
<!-- 	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" /> -->
	<!-- Bootstrap CSS -->
<!-- 	<link rel="stylesheet" href="http://localhost:8081/temp1/css/bootstrap.min.css" /> -->
	<!-- Site CSS -->
<!-- 	<link rel="stylesheet" href="http://localhost:8081/temp1/css/style.css" /> -->
	<!-- Responsive CSS -->
<!-- 	<link rel="stylesheet" href="http://localhost:8081/temp1/css/responsive.css" /> -->
	<!-- Custom CSS -->
<!-- 	<link rel="stylesheet" href="http://localhost:8081/temp1/css/custom.css" /> -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</h:head>

<h:body>
	<!-- Start Main Top -->

	
	<!-- End Side Menu -->
	
	  <!-- End Navigation --> 
	
	<!-- End Main Top -->
	<!-- Start Top Search -->

	
	<!-- End Top Search -->
	<!-- Start Slider -->

	<div id="slides-shop" class="cover-slides">

		<ul class="slides-container">

			<li class="text-left"><img src="../temp1/images/105.png" alt="" />

				<div class="container">

					<div class="row">

						<div class="col-md-12">

							<h1 class="m-b-20">
								<strong>Welcome To <br /> ConsomiTounsi#619
								</strong>
							</h1>

							<p class="m-b-40">
								See how your users experience your website in realtime or view <br />
								trends to see any changes in performance over time.
							</p>

							<p>
								<a class="btn hvr-hover" href="#">Shop New</a>
							</p>
						</div>
					</div>
				</div></li>

			<li class="text-center"><img src="http://localhost:8081/temp1/images/s7afi.jpg" alt="" />

				<div class="container">

					<div class="row">

						<div class="col-md-12">

							<h1 class="m-b-20">
								<strong>Welcome To <br /> ConsomiTounsi#619
								</strong>
							</h1>

							<p class="m-b-40">
								See how your users experience your website in realtime or view <br />
								trends to see any changes in performance over time.
							</p>

							<p>
								<a class="btn hvr-hover" href="#">Shop New</a>
							</p>
						</div>
					</div>
				</div></li>

			<li class="text-right"><img src="../temp1/images/consomii.jpg" alt="" />

				<div class="container">

					<div class="row">

						<div class="col-md-12">

							<h1 class="m-b-20">
								<strong>Welcome To <br /> ConsomiTounsi#619
								</strong>
							</h1>

							<p class="m-b-40">
								See how your users experience your website in realtime or view <br />
								trends to see any changes in performance over time.
							</p>

							<p>
								<a class="btn hvr-hover" href="#">Shop New</a>
							</p>
						</div>
					</div>
				</div></li>
		</ul>

		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right"
				aria-hidden="true" /></a> <a href="#" class="prev"><i
				class="fa fa-angle-left" aria-hidden="true" /></a>
		</div>
	</div>
	<!-- End Slider -->
	<!-- Start Categories  -->

	<div class="categories-shop">

		<div class="container">

			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

					<div class="shop-cat-box">
						<img class="img-fluid" src="../temp1/images/tshirt-tn.jpg" alt="" /> <a
							class="btn hvr-hover" href="#">T-shirts</a>
					</div>

					<div class="shop-cat-box">
						<img class="img-fluid" src="../temp1/images/jeba.jpg" alt="" /> <a
							class="btn hvr-hover" href="#">Shirt</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

					<div class="shop-cat-box">
						<img class="img-fluid" src="../temp1/images/stouch.jpg" alt="" /> <a
							class="btn hvr-hover" href="#">Wallet</a>
					</div>

					<div class="shop-cat-box">
						<img class="img-fluid" src="../temp1/images/kofa2.jpg" alt="" /> <a
							class="btn hvr-hover" href="#">Bags</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

					<div class="shop-cat-box">
						<img class="img-fluid" src="../temp1/images/balgha.jpg" alt="" /> <a
							class="btn hvr-hover" href="#">Shoes</a>
					</div>

					<div class="shop-cat-box">
						<img class="img-fluid" src="../temp1/images/chicha.jpg" alt="" />
						<a class="btn hvr-hover" href="#">Chicha</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Categories -->
	<!-- Start Products  -->

	<div class="products-box">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<div class="title-all text-center">

						<h1>Featured Products</h1>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Sed sit amet lacus enim.</p>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-12">

					<div class="special-menu text-center">

						<div class="button-group filter-button-group">
							<button class="active" data-filter="*">All</button>
							<button data-filter=".top-featured">Top featured</button>
							<button data-filter=".best-seller">Best seller</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row special-list">

				<div class="col-lg-3 col-md-6 special-grid best-seller">

					<div class="products-single fix">

						<div class="box-img-hover">

							<div class="type-lb">

								<p class="sale">Sale</p>
							</div>
							<img src="../temp1/images/zit.jpg" class="img-fluid" alt="Image" />

							<div class="mask-icon">

								<ul>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="View"><i class="fas fa-eye" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Compare"><i
											class="fas fa-sync-alt" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Add to Wishlist"><i
											class="far fa-heart" /></a></li>
								</ul>
								<a class="cart" href="#">Add to Cart</a>
							</div>
						</div>

						<div class="why-text">

							<h4>Lorem ipsum dolor sit amet</h4>

							<h5>$7.79</h5>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 special-grid top-featured">

					<div class="products-single fix">

						<div class="box-img-hover">

							<div class="type-lb">

								<p class="new">New</p>
							</div>
							<img src="../temp1/images/tente.jpg" class="img-fluid" alt="Image" />

							<div class="mask-icon">

								<ul>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="View"><i class="fas fa-eye" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Compare"><i
											class="fas fa-sync-alt" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Add to Wishlist"><i
											class="far fa-heart" /></a></li>
								</ul>
								<a class="cart" href="#">Add to Cart</a>
							</div>
						</div>

						<div class="why-text">

							<h4>Lorem ipsum dolor sit amet</h4>

							<h5>$9.79</h5>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 special-grid top-featured">

					<div class="products-single fix">

						<div class="box-img-hover">

							<div class="type-lb">

								<p class="sale">Sale</p>
							</div>
							<img src="../temp1/images/hrisa.jpg" class="img-fluid" alt="Image" />

							<div class="mask-icon">

								<ul>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="View"><i class="fas fa-eye" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Compare"><i
											class="fas fa-sync-alt" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Add to Wishlist"><i
											class="far fa-heart" /></a></li>
								</ul>
								<a class="cart" href="#">Add to Cart</a>
							</div>
						</div>

						<div class="why-text">

							<h4>Lorem ipsum dolor sit amet</h4>

							<h5>$10.79</h5>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 special-grid best-seller">

					<div class="products-single fix">

						<div class="box-img-hover">

							<div class="type-lb">

								<p class="sale">Sale</p>
							</div>
							<img src="../temp1/images/sport.jpg" class="img-fluid" alt="Image" />

							<div class="mask-icon">

								<ul>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="View"><i class="fas fa-eye" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Compare"><i
											class="fas fa-sync-alt" /></a></li>

									<li><a href="#" data-toggle="tooltip"
										data-placement="right" title="Add to Wishlist"><i
											class="far fa-heart" /></a></li>
								</ul>
								<a class="cart" href="#">Add to Cart</a>
							</div>
						</div>

						<div class="why-text">

							<h4>Lorem ipsum dolor sit amet</h4>

							<h5>$15.79</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Products  -->
	<!-- Start Blog  -->

	<div class="latest-blog">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<div class="title-all text-center">

						<h1>latest blog</h1>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Sed sit amet lacus enim.</p>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 col-lg-4 col-xl-4">

					<div class="blog-box">

						<div class="blog-img">
							<img class="img-fluid" src="../temp1/images/existe.jpg" alt="" />
						</div>

						<div class="blog-content">

							<div class="title-blog">

								<h3>Fusce in augue non nisi fringilla</h3>

								<p>Nulla ut urna egestas, porta libero id, suscipit orci.
									Quisque in lectus sit amet urna dignissim feugiat. Mauris
									molestie egestas pharetra. Ut finibus cursus nunc sed mollis.
									Praesent laoreet lacinia elit id lobortis.</p>
							</div>

							<ul class="option-blog">

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Likes"><i
										class="far fa-heart" /></a></li>

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Views"><i class="fas fa-eye" /></a></li>

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Comments"><i
										class="far fa-comments" /></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 col-xl-4">

					<div class="blog-box">

						<div class="blog-img">
							<img class="img-fluid" src="../temp1/images/makla.jpg" alt="" />
						</div>

						<div class="blog-content">

							<div class="title-blog">

								<h3>Fusce in augue non nisi fringilla</h3>

								<p>Nulla ut urna egestas, porta libero id, suscipit orci.
									Quisque in lectus sit amet urna dignissim feugiat. Mauris
									molestie egestas pharetra. Ut finibus cursus nunc sed mollis.
									Praesent laoreet lacinia elit id lobortis.</p>
							</div>

							<ul class="option-blog">

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Likes"><i
										class="far fa-heart" /></a></li>

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Views"><i class="fas fa-eye" /></a></li>

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Comments"><i
										class="far fa-comments" /></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 col-xl-4">

					<div class="blog-box">

						<div class="blog-img">
							<img class="img-fluid" src="../temp1/images/vita.jpg" alt="" />
						</div>

						<div class="blog-content">

							<div class="title-blog">

								<h3>Fusce in augue non nisi fringilla</h3>

								<p>Nulla ut urna egestas, porta libero id, suscipit orci.
									Quisque in lectus sit amet urna dignissim feugiat. Mauris
									molestie egestas pharetra. Ut finibus cursus nunc sed mollis.
									Praesent laoreet lacinia elit id lobortis.</p>
							</div>

							<ul class="option-blog">

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Likes"><i
										class="far fa-heart" /></a></li>

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Views"><i class="fas fa-eye" /></a></li>

								<li><a href="#" data-toggle="tooltip"
									data-placement="right" title="Comments"><i
										class="far fa-comments" /></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Blog  -->
	<!-- Start Instagram Feed  -->

	<div class="instagram-box">

		<div class="main-instagram owl-carousel owl-theme">

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-01.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-02.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-03.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-04.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-06.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-07.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-08.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-09.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Instagram Feed  -->
	<!-- Start Footer  -->
	<!-- Start Footer  -->

	
	<!-- Start copyright  -->

	<!-- End copyright  -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">↑</a>
	<!-- ALL JS FILES -->

<!-- 	<script -->
<!-- 			src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script> -->

<!-- 		<script src="http://localhost:8081/temp1/js/popper.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/bootstrap.min.js"></script> -->
 		<!-- ALL PLUGINS --> 

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/bootstrap-select.js"></script> -->

<!-- 		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script> -->

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/images-loded.min.js"></script> -->

<!-- 		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script> -->
<!-- 		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script> -->
<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script> -->
			    

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/form-validator.min.js"></script> -->

<!-- 		<script -->
<!-- 			src="http://localhost:8081/temp1/js/contact-form-script.js"></script> -->

<!-- 		<script src="http://localhost:8081/temp1/js/custom.js"></script> -->
		            
	</h:body>
</ui:define>
</ui:composition>

