<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Meta, title, CSS, favicons, etc. -->

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="../resources/images/favicon.ico" type="image/ico" />

	<title>Gentelella Alela! |</title>
	<!-- Bootstrap -->
	<link href="../vendors/bootstrap/dist/css/bootstrap.min.css"
		rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="../vendors/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" />
	<!-- NProgress -->
	<link href="../resources/nprogress/nprogress.css" rel="stylesheet" />
	<!-- iCheck -->
	<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet" />

	<!-- bootstrap-progressbar -->
	<link
		href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
		rel="stylesheet" />
	<!-- JQVMap -->
	<link href="../resources/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
	<!-- bootstrap-daterangepicker -->
	<link href="../resources/bootstrap-daterangepicker/daterangepicker.css"
		rel="stylesheet" />
	<!-- Custom Theme Style -->
	<link href="../build/css/custom.min.css" rel="stylesheet" />
	<link href="../build/css/custom.css" rel="stylesheet" />
</h:head>

<h:body class="nav-md">

	<div class="container body">

		<div class="main_container">

			<div class="col-md-3 left_col">

				<div class="left_col scroll-view">

					<div class="navbar nav_title" style="border: 0px;">
						<a href="../template/indexAdmin.xhtml" class="site_title"><i class="fa fa-paw" />
							<span>Gentelella Alela!</span></a>
					</div>

					<div class="clearfix" />
					<!-- menu profile quick info -->

					<div class="profile clearfix">

						<div class="profile_pic">
							<img src="../production/images/img.jpg" alt="..."
								class="img-circle profile_img" />
						</div>

						<div class="profile_info">
							<span>Welcome,</span>

							<h2>John Doe</h2>
						</div>
					</div>
					<!-- /menu profile quick info -->
					<br />
					<!-- sidebar menu -->

					<div id="sidebar-menu"
						class="main_menu_side hidden-print main_menu">

						<div class="menu_section">

							<h3>General</h3>

							<ul class="nav side-menu">

								<li><a><i class="fa fa-home" /> 
								Home 
								<span class="fa fa-chevron-down" >
								
								</span>
								</a>
										

									<ul class="nav child_menu">
									
                                  
										<li class="current-page"><a href="../template/indexAdmin.xhtml">Dashboard</a></li>

										<li><a href="../template/index2Admin.xhtml">Dashboard2</a></li>

										<li><a href="index3.html">Dashboard3</a></li>
									
									</ul>
									</li>

								<li><a><i class="fa fa-edit" /> Forms <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="../template/formAdmin.xhtml">General Form</a></li>

										<li><a href="form_advanced.html">Advanced Components</a></li>

										<li><a href="form_validation.html">Form Validation</a></li>

										<li><a href="form_wizards.html">Form Wizard</a></li>

										<li><a href="form_upload.html">Form Upload</a></li>

										<li><a href="form_buttons.html">Form Buttons</a></li>
									</ul></li>

								<li><a><i class="fa fa-desktop" /> UI Elements <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="general_elements.html">General Elements</a></li>

										<li><a href="media_gallery.html">Media Gallery</a></li>

										<li><a href="typography.html">Typography</a></li>

										<li><a href="icons.html">Icons</a></li>

										<li><a href="glyphicons.html">Glyphicons</a></li>

										<li><a href="widgets.html">Widgets</a></li>

										<li><a href="invoice.html">Invoice</a></li>

										<li><a href="inbox.html">Inbox</a></li>

										<li><a href="calendar.html">Calendar</a></li>
									</ul></li>

								<li><a><i class="fa fa-table" /> Tables <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="tables.html">Tables</a></li>

										<li><a href="tables_dynamic.html">Table Dynamic</a></li>
									</ul></li>

								<li><a><i class="fa fa-bar-chart-o" /> Data
										Presentation <span class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="chartjs.html">Chart JS</a></li>

										<li><a href="chartjs2.html">Chart JS2</a></li>

										<li><a href="morisjs.html">Moris JS</a></li>

										<li><a href="echarts.html">ECharts</a></li>

										<li><a href="other_charts.html">Other Charts</a></li>
									</ul></li>

								<li><a><i class="fa fa-clone" />Layouts <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>

										<li><a href="fixed_footer.html">Fixed Footer</a></li>
									</ul></li>
							</ul>
						</div>

						<div class="menu_section">

							<h3>Live On</h3>

							<ul class="nav side-menu">

								<li><a><i class="fa fa-bug" /> Additional Pages <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="e_commerce.html">E-commerce</a></li>

										<li><a href="projects.html">Projects</a></li>

										<li><a href="project_detail.html">Project Detail</a></li>

										<li><a href="contacts.html">Contacts</a></li>

										<li><a href="profile.html">Profile</a></li>
									</ul></li>

								<li><a><i class="fa fa-windows" /> Extras <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="page_403.html">403 Error</a></li>

										<li><a href="page_404.html">404 Error</a></li>

										<li><a href="page_500.html">500 Error</a></li>

										<li><a href="plain_page.html">Plain Page</a></li>

										<li><a href="login.html">Login Page</a></li>

										<li><a href="pricing_tables.html">Pricing Tables</a></li>
									</ul></li>

								<li><a><i class="fa fa-sitemap" /> Multilevel Menu <span
										class="fa fa-chevron-down" /></a>

									<ul class="nav child_menu">

										<li><a href="#level1_1">Level One</a></li>
										<li><a>Level One<span class="fa fa-chevron-down" /></a>

											<ul class="nav child_menu">

												<li class="sub_menu"><a href="level2.html">Level
														Two</a></li>

												<li><a href="#level2_1">Level Two</a></li>

												<li><a href="#level2_2">Level Two</a></li>
											</ul></li>

										<li><a href="#level1_2">Level One</a></li>
									</ul></li>

								<li><a href="javascript:void(0)"><i
										class="fa fa-laptop" /> Landing Page <span
										class="label label-success pull-right">Coming Soon</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /sidebar menu -->
					<!-- /menu footer buttons -->

					<div class="sidebar-footer hidden-small">
						<a data-toggle="tooltip" data-placement="top" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true" />
						</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
							<span class="glyphicon glyphicon-fullscreen" aria-hidden="true" />
						</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
							class="glyphicon glyphicon-eye-close" aria-hidden="true" />
						</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
							href="login.html"> <span class="glyphicon glyphicon-off"
							aria-hidden="true" />
						</a>
					</div>
					<!-- /menu footer buttons -->
				</div>
			</div>
			<!-- top navigation -->

			<div class="top_nav">

				<div class=" ">

					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars" /></a>
					</div>
					<nav class="nav navbar-nav">

					<ul class=" navbar-right">

						<li class="nav-item dropdown open" style="padding-left: 15px;">
							<a href="javascript:;" class="user-profile dropdown-toggle"
							aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown"
							aria-expanded="false"> <img src="../production/images/img.jpg" alt="" />John
								Doe
						</a>

							<div class="dropdown-menu dropdown-usermenu pull-right"
								aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="javascript:;"> Profile</a> <a
									class="dropdown-item" href="javascript:;"> <span
									class="badge bg-red pull-right">50%</span> <span>Settings</span>
								</a> <a class="dropdown-item" href="javascript:;">Help</a> <a
									class="dropdown-item" href="login.html"><i
									class="fa fa-sign-out pull-right" /> Log Out</a>
							</div>
						</li>

						<li role="presentation" class="nav-item dropdown open"><a
							href="javascript:;" class="dropdown-toggle info-number"
							id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-envelope-o" /> <span class="badge bg-green">6</span>
						</a>

							<ul class="dropdown-menu list-unstyled msg_list" role="menu"
								aria-labelledby="navbarDropdown1">

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="../production/images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="../production/images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="../production/images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item"><a class="dropdown-item"> <span
										class="image"><img src="../production/images/img.jpg"
											alt="Profile Image" /></span> <span> <span>John Smith</span>
											<span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>

								<li class="nav-item">

									<div class="text-center">
										<a class="dropdown-item"> <strong>See All Alerts</strong>
											<i class="fa fa-angle-right" />
										</a>
									</div>
								</li>
							</ul></li>
					</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->
			<!-- page content -->

			<div class="right_col" role="main">
				<!-- top tiles -->

				<div class="row" style="display: inline-block;">

					<div class="tile_count">

						<div class="col-md-2 col-sm-4  tile_stats_count">
							<span class="count_top"><i class="fa fa-user" /> Total
								Users</span>

							<div class="count">2500</div>
							<span class="count_bottom"><i class="green">4% </i> From
								last Week</span>
						</div>

						<div class="col-md-2 col-sm-4  tile_stats_count">
							<span class="count_top"><i class="fa fa-clock-o" />
								Average Time</span>

							<div class="count">123.50</div>
							<span class="count_bottom"><i class="green"><i
									class="fa fa-sort-asc" />3% </i> From last Week</span>
						</div>

						<div class="col-md-2 col-sm-4  tile_stats_count">
							<span class="count_top"><i class="fa fa-user" /> Total
								Males</span>

							<div class="count green">2,500</div>
							<span class="count_bottom"><i class="green"><i
									class="fa fa-sort-asc" />34% </i> From last Week</span>
						</div>

						<div class="col-md-2 col-sm-4  tile_stats_count">
							<span class="count_top"><i class="fa fa-user" /> Total
								Females</span>

							<div class="count">4,567</div>
							<span class="count_bottom"><i class="red"><i
									class="fa fa-sort-desc" />12% </i> From last Week</span>
						</div>

						<div class="col-md-2 col-sm-4  tile_stats_count">
							<span class="count_top"><i class="fa fa-user" /> Total
								Collections</span>

							<div class="count">2,315</div>
							<span class="count_bottom"><i class="green"><i
									class="fa fa-sort-asc" />34% </i> From last Week</span>
						</div>

						<div class="col-md-2 col-sm-4  tile_stats_count">
							<span class="count_top"><i class="fa fa-user" /> Total
								Connections</span>

							<div class="count">7,325</div>
							<span class="count_bottom"><i class="green"><i
									class="fa fa-sort-asc" />34% </i> From last Week</span>
						</div>
					</div>
				</div>
				<!-- /top tiles -->

				<div class="row">

					<div class="col-md-12 col-sm-12 ">

						<div class="dashboard_graph">

							<div class="row x_title">

								<div class="col-md-6">

									<h3>
										Network Activities <small>Graph title sub-title</small>
									</h3>
								</div>

								<div class="col-md-6">

									<div id="reportrange" class="pull-right"
										style="background: rgb(255, 255, 255); cursor: pointer; padding: 5px 10px; border: 1px solid rgb(204, 204, 204);">
										<i class="glyphicon glyphicon-calendar fa fa-calendar" /> <span>December
											30, 2014 - January 28, 2015</span> <b class="caret" />
									</div>
								</div>
							</div>

							<div class="col-md-9 col-sm-9 ">

								<div id="chart_plot_01" class="demo-placeholder" />
								<canvas class="flot-base" width="594" height="280"
									style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 594px; height: 280px;"></canvas>
								<div class="flot-text"
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
									<div class="flot-x-axis flot-x1-axis xAxis x1Axis"
										style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
										<div class="flot-tick-label tickLabel"
											style="position: absolute; max-width: 99px; top: 264px; left: 11px; text-align: center;">Jan
											01</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; max-width: 99px; top: 264px; left: 104px; text-align: center;">Jan
											02</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; max-width: 99px; top: 264px; left: 196px; text-align: center;">Jan
											03</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; max-width: 99px; top: 264px; left: 288px; text-align: center;">Jan
											04</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; max-width: 99px; top: 264px; left: 380px; text-align: center;">Jan
											05</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; max-width: 99px; top: 264px; left: 472px; text-align: center;">Jan
											06</div>
									</div>
									<div class="flot-y-axis flot-y1-axis yAxis y1Axis"
										style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 252px; left: 13px; text-align: right;">0</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 232px; left: 7px; text-align: right;">10</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 213px; left: 7px; text-align: right;">20</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 194px; left: 7px; text-align: right;">30</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 174px; left: 7px; text-align: right;">40</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 155px; left: 7px; text-align: right;">50</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 136px; left: 7px; text-align: right;">60</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 116px; left: 7px; text-align: right;">70</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 97px; left: 7px; text-align: right;">80</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 78px; left: 7px; text-align: right;">90</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 58px; left: 1px; text-align: right;">100</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 39px; left: 1px; text-align: right;">110</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 20px; left: 1px; text-align: right;">120</div>
										<div class="flot-tick-label tickLabel"
											style="position: absolute; top: 1px; left: 1px; text-align: right;">130</div>
									</div>
								</div>
								<canvas class="flot-overlay" width="594" height="280"
									style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 594px; height: 280px;"></canvas>
							</div>

							<div class="col-md-3 col-sm-3  bg-white">

								<div class="x_title">

									<h2>Top Campaign Performance</h2>

									<div class="clearfix" />
								</div>

								<div class="col-md-12 col-sm-12 ">

									<div>

										<p>Facebook Campaign</p>

										<div class="">

											<div class="progress progress_sm" style="width: 76%;">

												<div class="progress-bar bg-green" role="progressbar"
													data-transitiongoal="80" />
											</div>
										</div>
									</div>

									<div>

										<p>Twitter Campaign</p>

										<div class="">

											<div class="progress progress_sm" style="width: 76%;">

												<div class="progress-bar bg-green" role="progressbar"
													data-transitiongoal="60" />
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12 col-sm-12 ">

									<div>

										<p>Conventional Media</p>

										<div class="">

											<div class="progress progress_sm" style="width: 76%;">

												<div class="progress-bar bg-green" role="progressbar"
													data-transitiongoal="40" />
											</div>
										</div>
									</div>

									<div>

										<p>Bill boards</p>

										<div class="">

											<div class="progress progress_sm" style="width: 76%;">

												<div class="progress-bar bg-green" role="progressbar"
													data-transitiongoal="50" />
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="clearfix" />
						</div>
					</div>
				</div>
				<br />

				<div class="row">

					<div class="col-md-4 col-sm-4 ">

						<div class="x_panel tile fixed_height_320">

							<div class="x_title">

								<h2>App Versions</h2>

								<ul class="nav navbar-right panel_toolbox">

									<li><a class="collapse-link"><i
											class="fa fa-chevron-up" /></a></li>

									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench" /></a>

										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">Settings 1</a> <a
												class="dropdown-item" href="#">Settings 2</a>
										</div></li>

									<li><a class="close-link"><i class="fa fa-close" /></a></li>
								</ul>

								<div class="clearfix" />
							</div>

							<div class="x_content">

								<h4>App Usage across versions</h4>

								<div class="widget_summary">

									<div class="w_left w_25">
										<span>0.1.5.2</span>
									</div>

									<div class="w_center w_55">

										<div class="progress">

											<div class="progress-bar bg-green" role="progressbar"
												aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
												style="width: 66%;">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
									</div>

									<div class="w_right w_20">
										<span>123k</span>
									</div>

									<div class="clearfix" />
								</div>

								<div class="widget_summary">

									<div class="w_left w_25">
										<span>0.1.5.3</span>
									</div>

									<div class="w_center w_55">

										<div class="progress">

											<div class="progress-bar bg-green" role="progressbar"
												aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
												style="width: 45%;">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
									</div>

									<div class="w_right w_20">
										<span>53k</span>
									</div>

									<div class="clearfix" />
								</div>

								<div class="widget_summary">

									<div class="w_left w_25">
										<span>0.1.5.4</span>
									</div>

									<div class="w_center w_55">

										<div class="progress">

											<div class="progress-bar bg-green" role="progressbar"
												aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
												style="width: 25%;">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
									</div>

									<div class="w_right w_20">
										<span>23k</span>
									</div>

									<div class="clearfix" />
								</div>

								<div class="widget_summary">

									<div class="w_left w_25">
										<span>0.1.5.5</span>
									</div>

									<div class="w_center w_55">

										<div class="progress">

											<div class="progress-bar bg-green" role="progressbar"
												aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
												style="width: 5%;">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
									</div>

									<div class="w_right w_20">
										<span>3k</span>
									</div>

									<div class="clearfix" />
								</div>

								<div class="widget_summary">

									<div class="w_left w_25">
										<span>0.1.5.6</span>
									</div>

									<div class="w_center w_55">

										<div class="progress">

											<div class="progress-bar bg-green" role="progressbar"
												aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
												style="width: 2%;">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
									</div>

									<div class="w_right w_20">
										<span>1k</span>
									</div>

									<div class="clearfix" />
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-4 ">

						<div class="x_panel tile fixed_height_320 overflow_hidden">

							<div class="x_title">

								<h2>Device Usage</h2>

								<ul class="nav navbar-right panel_toolbox">

									<li><a class="collapse-link"><i
											class="fa fa-chevron-up" /></a></li>

									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench" /></a>

										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">Settings 1</a> <a
												class="dropdown-item" href="#">Settings 2</a>
										</div></li>

									<li><a class="close-link"><i class="fa fa-close" /></a></li>
								</ul>

								<div class="clearfix" />
							</div>

							<div class="x_content">

								<table class="" style="width: 100%;">

									<tbody>
										<tr>

											<th style="width: 37%;">

												<p>Top 5</p>
											</th>

											<th>

												<div class="col-lg-7 col-md-7 col-sm-7 ">

													<p class="">Device</p>
												</div>

												<div class="col-lg-5 col-md-5 col-sm-5 ">

													<p class="">Progress</p>
												</div>
											</th>
										</tr>

										<tr>

											<td><canvas class="canvasDoughnut" height="140"
													width="140" style="margin: 15px 10px 10px 0px;" /></td>

											<td>

												<table class="tile_info">

													<tbody>
														<tr>

															<td>

																<p>
																	<i class="fa fa-square blue" />IOS
																</p>
															</td>

															<td>30%</td>
														</tr>

														<tr>

															<td>

																<p>
																	<i class="fa fa-square green" />Android
																</p>
															</td>

															<td>10%</td>
														</tr>

														<tr>

															<td>

																<p>
																	<i class="fa fa-square purple" />Blackberry
																</p>
															</td>

															<td>20%</td>
														</tr>

														<tr>

															<td>

																<p>
																	<i class="fa fa-square aero" />Symbian
																</p>
															</td>

															<td>15%</td>
														</tr>

														<tr>

															<td>

																<p>
																	<i class="fa fa-square red" />Others
																</p>
															</td>

															<td>30%</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-4 ">

						<div class="x_panel tile fixed_height_320">

							<div class="x_title">

								<h2>Quick Settings</h2>

								<ul class="nav navbar-right panel_toolbox">

									<li><a class="collapse-link"><i
											class="fa fa-chevron-up" /></a></li>

									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench" /></a>

										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">Settings 1</a> <a
												class="dropdown-item" href="#">Settings 2</a>
										</div></li>

									<li><a class="close-link"><i class="fa fa-close" /></a></li>
								</ul>

								<div class="clearfix" />
							</div>

							<div class="x_content">

								<div class="dashboard-widget-content">

									<ul class="quick-list">

										<li><i class="fa fa-calendar-o" /><a href="#">Settings</a>
										</li>

										<li><i class="fa fa-bars" /><a href="#">Subscription</a>
										</li>

										<li><i class="fa fa-bar-chart" /><a href="#">Auto
												Renewal</a></li>

										<li><i class="fa fa-line-chart" /><a href="#">Achievements</a>
										</li>

										<li><i class="fa fa-bar-chart" /><a href="#">Auto
												Renewal</a></li>

										<li><i class="fa fa-line-chart" /><a href="#">Achievements</a>
										</li>

										<li><i class="fa fa-area-chart" /><a href="#">Logout</a>
										</li>
									</ul>

									<div class="sidebar-widget">

										<h4>Profile Completion</h4>
										<canvas width="150" height="80" id="chart_gauge_01" class=""
											style="width: 160px; height: 100px;" />

										<div class="goal-wrapper">
											<span id="gauge-text" class="gauge-value pull-left">0</span>
											<span class="gauge-value pull-left">%</span> <span
												id="goal-text" class="goal-value pull-right">100%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-4 col-sm-4 ">

						<div class="x_panel">

							<div class="x_title">

								<h2>
									Recent Activities <small>Sessions</small>
								</h2>

								<ul class="nav navbar-right panel_toolbox">

									<li><a class="collapse-link"><i
											class="fa fa-chevron-up" /></a></li>

									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" role="button" aria-expanded="false"><i
											class="fa fa-wrench" /></a>

										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#">Settings 1</a> <a
												class="dropdown-item" href="#">Settings 2</a>
										</div></li>

									<li><a class="close-link"><i class="fa fa-close" /></a></li>
								</ul>

								<div class="clearfix" />
							</div>

							<div class="x_content">

								<div class="dashboard-widget-content">

									<ul class="list-unstyled timeline widget">

										<li>

											<div class="block">

												<div class="block_content">

													<h2 class="title">
														<a>Who Needs Sundance When You’ve
															Got&nbsp;Crowdfunding?</a>
													</h2>

													<div class="byline">
														<span>13 hours ago</span> by <a>Jane Smith</a>
													</div>

													<p class="excerpt">
														Film festivals used to be do-or-die moments for movie
														makers. They were where you met the producers that could
														fund your project, and if the buyers liked your flick,
														they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
													</p>
												</div>
											</div>
										</li>

										<li>

											<div class="block">

												<div class="block_content">

													<h2 class="title">
														<a>Who Needs Sundance When You’ve
															Got&nbsp;Crowdfunding?</a>
													</h2>

													<div class="byline">
														<span>13 hours ago</span> by <a>Jane Smith</a>
													</div>

													<p class="excerpt">
														Film festivals used to be do-or-die moments for movie
														makers. They were where you met the producers that could
														fund your project, and if the buyers liked your flick,
														they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
													</p>
												</div>
											</div>
										</li>

										<li>

											<div class="block">

												<div class="block_content">

													<h2 class="title">
														<a>Who Needs Sundance When You’ve
															Got&nbsp;Crowdfunding?</a>
													</h2>

													<div class="byline">
														<span>13 hours ago</span> by <a>Jane Smith</a>
													</div>

													<p class="excerpt">
														Film festivals used to be do-or-die moments for movie
														makers. They were where you met the producers that could
														fund your project, and if the buyers liked your flick,
														they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
													</p>
												</div>
											</div>
										</li>

										<li>

											<div class="block">

												<div class="block_content">

													<h2 class="title">
														<a>Who Needs Sundance When You’ve
															Got&nbsp;Crowdfunding?</a>
													</h2>

													<div class="byline">
														<span>13 hours ago</span> by <a>Jane Smith</a>
													</div>

													<p class="excerpt">
														Film festivals used to be do-or-die moments for movie
														makers. They were where you met the producers that could
														fund your project, and if the buyers liked your flick,
														they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-8 col-sm-8 ">

						<div class="row">

							<div class="col-md-12 col-sm-12 ">

								<div class="x_panel">

									<div class="x_title">

										<h2>
											Visitors location <small>geo-presentation</small>
										</h2>

										<ul class="nav navbar-right panel_toolbox">

											<li><a class="collapse-link"><i
													class="fa fa-chevron-up" /></a></li>

											<li class="dropdown"><a href="#" class="dropdown-toggle"
												data-toggle="dropdown" role="button" aria-expanded="false"><i
													class="fa fa-wrench" /></a>

												<div class="dropdown-menu"
													aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Settings 1</a> <a
														class="dropdown-item" href="#">Settings 2</a>
												</div></li>

											<li><a class="close-link"><i class="fa fa-close" /></a>
											</li>
										</ul>

										<div class="clearfix" />
									</div>

									<div class="x_content">

										<div class="dashboard-widget-content">

											<div class="col-md-4 hidden-small">

												<h2 class="line_30">125.7k Views from 60 countries</h2>

												<table class="countries_list">

													<tbody>

														<tr>

															<td>United States</td>

															<td class="fs15 fw700 text-right">33%</td>
														</tr>

														<tr>

															<td>France</td>

															<td class="fs15 fw700 text-right">27%</td>
														</tr>

														<tr>

															<td>Germany</td>

															<td class="fs15 fw700 text-right">16%</td>
														</tr>

														<tr>

															<td>Spain</td>

															<td class="fs15 fw700 text-right">11%</td>
														</tr>

														<tr>

															<td>Britain</td>

															<td class="fs15 fw700 text-right">10%</td>
														</tr>
													</tbody>
												</table>
											</div>

											<div id="world-map-gdp" class="col-md-8 col-sm-12 "
												style="height: 230px;" />
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<!-- Start to do list -->

							<div class="col-md-6 col-sm-6 ">

								<div class="x_panel">

									<div class="x_title">

										<h2>
											To Do List <small>Sample tasks</small>
										</h2>

										<ul class="nav navbar-right panel_toolbox">

											<li><a class="collapse-link"><i
													class="fa fa-chevron-up" /></a></li>

											<li class="dropdown"><a href="#" class="dropdown-toggle"
												data-toggle="dropdown" role="button" aria-expanded="false"><i
													class="fa fa-wrench" /></a>

												<div class="dropdown-menu"
													aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Settings 1</a> <a
														class="dropdown-item" href="#">Settings 2</a>
												</div></li>

											<li><a class="close-link"><i class="fa fa-close" /></a>
											</li>
										</ul>

										<div class="clearfix" />
									</div>

									<div class="x_content">

										<div class="">

											<ul class="to_do">

												<li>

													<p>
														<input type="checkbox" class="flat" /> Schedule meeting
														with new client
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Create email
														address for new intern
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Have IT fix the
														network printer
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Copy backups to
														offsite location
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Food truck fixie
														locavors mcsweeney
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Food truck fixie
														locavors mcsweeney
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Create email
														address for new intern
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Have IT fix the
														network printer
													</p>
												</li>

												<li>

													<p>
														<input type="checkbox" class="flat" /> Copy backups to
														offsite location
													</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- End to do list -->

							<!-- start of weather widget -->

							<div class="col-md-6 col-sm-6 ">

								<div class="x_panel">

									<div class="x_title">

										<h2>
											Daily active users <small>Sessions</small>
										</h2>

										<ul class="nav navbar-right panel_toolbox">

											<li><a class="collapse-link"><i
													class="fa fa-chevron-up" /></a></li>

											<li class="dropdown"><a href="#" class="dropdown-toggle"
												data-toggle="dropdown" role="button" aria-expanded="false"><i
													class="fa fa-wrench" /></a>

												<div class="dropdown-menu"
													aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="#">Settings 1</a> <a
														class="dropdown-item" href="#">Settings 2</a>
												</div></li>

											<li><a class="close-link"><i class="fa fa-close" /></a>
											</li>
										</ul>

										<div class="clearfix" />
									</div>

									<div class="x_content">

										<div class="row">

											<div class="col-sm-12">

												<div class="temperature">
													<b>Monday</b>, 07:30 AM <span>F</span> <span><b>C</b></span>
												</div>
											</div>
										</div>

										<div class="row">

											<div class="col-sm-4">

												<div class="weather-icon">
													<canvas height="84" width="84" id="partly-cloudy-day" />
												</div>
											</div>

											<div class="col-sm-8">

												<div class="weather-text">

													<h2>
														Texas <br /> <i>Partly Cloudy Day</i>
													</h2>
												</div>
											</div>
										</div>

										<div class="col-sm-12">

											<div class="weather-text pull-right">

												<h3 class="degrees">23</h3>
											</div>
										</div>

										<div class="clearfix" />

										<div class="row weather-days">

											<div class="col-sm-2">

												<div class="daily-weather">

													<h2 class="day">Mon</h2>

													<h3 class="degrees">25</h3>
													<canvas id="clear-day" width="32" height="32" />

													<h5>
														15 <i>km/h</i>
													</h5>
												</div>
											</div>

											<div class="col-sm-2">

												<div class="daily-weather">

													<h2 class="day">Tue</h2>

													<h3 class="degrees">25</h3>
													<canvas height="32" width="32" id="rain" />

													<h5>
														12 <i>km/h</i>
													</h5>
												</div>
											</div>

											<div class="col-sm-2">

												<div class="daily-weather">

													<h2 class="day">Wed</h2>

													<h3 class="degrees">27</h3>
													<canvas height="32" width="32" id="snow" />

													<h5>
														14 <i>km/h</i>
													</h5>
												</div>
											</div>

											<div class="col-sm-2">

												<div class="daily-weather">

													<h2 class="day">Thu</h2>

													<h3 class="degrees">28</h3>
													<canvas height="32" width="32" id="sleet" />

													<h5>
														15 <i>km/h</i>
													</h5>
												</div>
											</div>

											<div class="col-sm-2">

												<div class="daily-weather">

													<h2 class="day">Fri</h2>

													<h3 class="degrees">28</h3>
													<canvas height="32" width="32" id="wind" />

													<h5>
														11 <i>km/h</i>
													</h5>
												</div>
											</div>

											<div class="col-sm-2">

												<div class="daily-weather">

													<h2 class="day">Sat</h2>

													<h3 class="degrees">26</h3>
													<canvas height="32" width="32" id="cloudy" />

													<h5>
														10 <i>km/h</i>
													</h5>
												</div>
											</div>

											<div class="clearfix" />
										</div>
									</div>
								</div>
							</div>
							<!-- end of weather widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->
			<!-- footer content -->
			<h:footer>

				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a
						href="https://colorlib.com">Colorlib</a>
				</div>

				<div class="clearfix" />
			</h:footer>
			<!-- /footer content -->
		</div>
	</div>
	<!-- jQuery -->

	<script src="../vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->

	<script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- FastClick -->

	<script src="../vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->

	<script src="../vendors/nprogress/nprogress.js"></script>
	<!-- Chart.js -->

	<script src="../vendors/Chart.js/dist/Chart.min.js"></script>
	<!-- gauge.js -->

	<script src="../vendors/gauge.js/dist/gauge.min.js"></script>
	<!-- bootstrap-progressbar -->

	<script
		src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->

	<script src="../vendors/iCheck/icheck.min.js"></script>
	<!-- Skycons -->

	<script src="../vendors/skycons/skycons.js"></script>
	<!-- Flot -->

	<script src="../vendors/Flot/jquery.flot.js"></script>

	<script src="../vendors/Flot/jquery.flot.pie.js"></script>

	<script src="../vendors/Flot/jquery.flot.time.js"></script>

	<script src="../vendors/Flot/jquery.flot.stack.js"></script>

	<script src="../vendors/Flot/jquery.flot.resize.js"></script>
	<!-- Flot plugins -->

	<script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>

	<script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>

	<script src="../vendors/flot.curvedlines/curvedLines.js"></script>
	<!-- DateJS -->

	<script src="../vendors/DateJS/build/date.js"></script>
	<!-- JQVMap -->

	<script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>

	<script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

	<script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
	<!-- bootstrap-daterangepicker -->

	<script src="../vendors/moment/min/moment.min.js"></script>

	<script src="../production/js/datepicker/daterangepicker.js"></script>
	<!-- Custom Theme Scripts -->

	<script src="../build/js/custom.min.js"></script>


</h:body>
</h:html>