<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
<!-- Basic -->
<ui:param name="account" value="Accueil" />
	<ui:define name="account">
<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" />
	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
	<!-- Site CSS -->
	<link rel="stylesheet" href="../temp1/css/style.css" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../temp1/css/responsive.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../temp1/css/custom.css" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<h:body>
	<!-- Start Main Top -->

			<!-- End Top Search -->
		<!-- Start All Title Box -->

		<div class="all-title-box">

			<div class="container">

				<div class="row">

					<div class="col-lg-12">

						<h2>My Account</h2>

						<ul class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Shop</a></li>

							<li class="breadcrumb-item active">My Account</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End All Title Box -->
		<!-- Start My Account  -->

		<div class="my-account-box-main">

			<div class="container">

				<div class="my-account-page">

					<div class="row">

						<div class="col-lg-4 col-md-12">

							<div class="account-box">

								<div class="service-box">

									<div class="service-icon">
										<a href="CommandeUser.jsf"> <i class="fa fa-gift" />
										</a>
									</div>

									<div class="service-desc">

										<h4>Your Orders</h4>

										<p>Track, return, or buy things again</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12">

							<div class="account-box">

								<div class="service-box">

									<div class="service-icon">
										<a href="#"><i class="fa fa-lock" /> </a>
									</div>

									<div class="service-desc">

										<h4>Login &amp; security</h4>

										<p>Edit login, name, and mobile number</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12">

							<div class="account-box">

								<div class="service-box">

									<div class="service-icon">
										<a href="#"> <i class="fa fa-location-arrow" />
										</a>
									</div>

									<div class="service-desc">

										<h4>Your Addresses</h4>

										<p>Edit addresses for orders and gifts</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12">

							<div class="account-box">

								<div class="service-box">

									<div class="service-icon">
										<a href="#"> <i class="fa fa-credit-card" />
										</a>
									</div>

									<div class="service-desc">

										<h4>Payment options</h4>

										<p>Edit or add payment methods</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12">

							<div class="account-box">

								<div class="service-box">

									<div class="service-icon">
										<a href="#"> <i class="fab fa-paypal" />
										</a>
									</div>

									<div class="service-desc">

										<h4>PayPal</h4>

										<p>View benefits and payment settings</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-12">

							<div class="account-box">

								<div class="service-box">

									<div class="service-icon">
										<a href="#"> <i class="fab fa-amazon" />
										</a>
									</div>

									<div class="service-desc">

										<h4>Amazon Pay balance</h4>

										<p>Add money to your balance</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bottom-box">

						<div class="row">

							<div class="col-lg-4 col-md-12">

								<div class="account-box">

									<div class="service-box">

										<div class="service-desc">

											<h4>Gold &amp; Diamond Jewellery</h4>

											<ul>

												<li><a href="#">Apps and more</a></li>

												<li><a href="#">Content and devices</a></li>

												<li><a href="#">Music settings</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-12">

								<div class="account-box">

									<div class="service-box">

										<div class="service-desc">

											<h4>Handloom &amp; Handicraft Store</h4>

											<ul>

												<li><a href="#">Advertising preferences </a></li>

												<li><a href="#">Communication preferences</a></li>

												<li><a href="#">SMS alert preferences</a></li>

												<li><a href="#">Message center</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-12">

								<div class="account-box">

									<div class="service-box">

										<div class="service-desc">

											<h4>The Designer Boutique</h4>

											<ul>

												<li><a href="#">Amazon Pay</a></li>

												<li><a href="#">Bank accounts for refunds</a></li>

												<li><a href="#">Coupons</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-12">

								<div class="account-box">

									<div class="service-box">

										<div class="service-desc">

											<h4>Gift Boxes, Gift Tags, Greeting Cards</h4>

											<ul>

												<li><a href="#">Leave delivery feedback</a></li>

												<li><a href="#">Lists</a></li>

												<li><a href="#">Photo ID proofs</a></li>

												<li><a href="#">Profile</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-12">

								<div class="account-box">

									<div class="service-box">

										<div class="service-desc">

											<h4>Other accounts</h4>

											<ul>

												<li><a href="#">Amazon Business registration</a></li>

												<li><a href="#">Seller account</a></li>

												<li><a href="#">Amazon Web Services</a></li>

												<li><a href="#">Login with Amazon</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-12">

								<div class="account-box">

									<div class="service-box">

										<div class="service-desc">

											<h4>Shopping programs and rentals</h4>

											<ul>

												<li><a href="#">Subscribe &amp; Save</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End My Account -->
		<!-- Start Instagram Feed  -->

		<div class="instagram-box">

			<div class="main-instagram owl-carousel owl-theme">

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-01.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-02.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-03.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-04.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-05.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-06.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-07.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-08.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-09.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>

				<div class="item">

					<div class="ins-inner-box">
						<img src="images/instagram-img-05.jpg" alt="" />

						<div class="hov-in">
							<a href="#"><i class="fab fa-instagram" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Instagram Feed  -->
		<!-- Start Footer  -->
		
		<!-- End copyright  -->
		<a href="#" id="back-to-top" title="Back to top"
			style="display: none;">↑</a>
		<!-- ALL JS FILES -->

	
			<script
			src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

		<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->

		<script
			src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

		<script
			src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
		<script
			src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>
			    

		<script
			src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

		<script src="http://localhost:8081/temp1/js/custom.js"></script>
		            
	</h:body>
</ui:define>
</ui:composition>