<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
<!-- Basic -->
<ui:param name="shop" value="Accueil" />
	<ui:define name="shop">
<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" />
	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
	<!-- Site CSS -->
	<link rel="stylesheet" href="../temp1/css/style.css" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../temp1/css/responsive.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../temp1/css/custom.css" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<h:body>
	<!-- Start Main Top -->

	
	<!-- End Top Search -->
	<!-- Start All Title Box -->

	<div class="all-title-box">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<h2>Shop</h2>

					<ul class="breadcrumb">

						<li class="breadcrumb-item"><a href="#">Home</a></li>

						<li class="breadcrumb-item active">Shop</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->
	<!-- Start Shop Page  -->

	<div class="shop-box-inner">

		<div class="container">

			<div class="row">

				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">

					<div class="product-categori">

						<div class="search-product">
							<form action="#">
								<input class="form-control" placeholder="Search here..."
									type="text" />
								<button type="submit">
									<i class="fa fa-search" />
								</button>
							</form>
						</div>

						<div class="filter-sidebar-left">

							<div class="title-left">

								<h3>Categories</h3>
							</div>

							<div
								class="list-group list-group-collapse list-group-sm list-group-tree"
								id="list-group-men" data-children=".sub-men">

								<div class="list-group-collapse sub-men">
									<a class="list-group-item list-group-item-action"
										href="#sub-men1" data-toggle="collapse" aria-expanded="true"
										aria-controls="sub-men1">Clothing <small
										class="text-muted">(100)</small>
									</a>

									<div class="collapse show" id="sub-men1"
										data-parent="#list-group-men">

										<div class="list-group">
											<a href="#"
												class="list-group-item list-group-item-action active">T-Shirts
												<small class="text-muted">(50)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Polo
												T-Shirts <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Round
												Neck T-Shirts <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">V
												Neck T-Shirts <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Hooded
												T-Shirts <small class="text-muted">(20)</small>
											</a>
										</div>
									</div>
								</div>

								<div class="list-group-collapse sub-men">
									<a class="list-group-item list-group-item-action"
										href="#sub-men2" data-toggle="collapse" aria-expanded="false"
										aria-controls="sub-men2">Footwear <small
										class="text-muted">(50)</small>
									</a>

									<div class="collapse" id="sub-men2"
										data-parent="#list-group-men">

										<div class="list-group">
											<a href="#" class="list-group-item list-group-item-action">Sports
												Shoes <small class="text-muted">(10)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Sneakers
												<small class="text-muted">(20)</small>
											</a> <a href="#" class="list-group-item list-group-item-action">Formal
												Shoes <small class="text-muted">(20)</small>
											</a>
										</div>
									</div>
								</div>
								<a href="#" class="list-group-item list-group-item-action">
									Men <small class="text-muted">(150) </small>
								</a> <a href="#" class="list-group-item list-group-item-action">Accessories
									<small class="text-muted">(11)</small>
								</a> <a href="#" class="list-group-item list-group-item-action">Bags
									<small class="text-muted">(22)</small>
								</a>
							</div>
						</div>

						<div class="filter-price-left">

							<div class="title-left">

								<h3>Price</h3>
							</div>

							<div class="price-box-slider">

								<div id="slider-range" />

								<p>
									<h:outputText value="#{produit.prix}" class="price-box-slider" />
									<button class="btn hvr-hover" type="submit">Filter</button>
								</p>
							</div>
						</div>

						<div class="filter-brand-left">

							<div class="title-left">

								<h3>Brand</h3>
							</div>

							<div class="brand-box">

								<ul>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios1" value="Yes" type="radio" />
											<label for="Radios1"> Supreme </label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios2" value="No" type="radio" />
											<label for="Radios2"> A Bathing Ape </label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios3" value="declater"
												type="radio" /> <label for="Radios3"> The Hundreds
											</label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios4" value="declater"
												type="radio" /> <label for="Radios4"> Alife </label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios5" value="declater"
												type="radio" /> <label for="Radios5"> Neighborhood
											</label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios6" value="declater"
												type="radio" /> <label for="Radios6"> CLOT </label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios7" value="declater"
												type="radio" /> <label for="Radios7"> Acapulco Gold
											</label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios8" value="declater"
												type="radio" /> <label for="Radios8"> UNDFTD </label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios9" value="declater"
												type="radio" /> <label for="Radios9"> Mighty
												Healthy </label>
										</div>
									</li>

									<li>

										<div class="radio radio-danger">
											<input name="survey" id="Radios10" value="declater"
												type="radio" /> <label for="Radios10"> Fiberops </label>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div
					class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">

					<div class="right-product-box">

						<div class="product-item-filter row">

							<div class="col-12 col-sm-8 text-center text-sm-left">

								<div class="toolbar-sorter-right">
									<span>Sort by </span> <select id="basic"
										class="selectpicker show-tick form-control"
										data-placeholder="$ USD">

										<option data-display="Select">Nothing</option>

										<option value="1">Popularity</option>

										<option value="2">High Price → High Price</option>

										<option value="3">Low Price → High Price</option>

										<option value="4">Best Selling</option>
									</select>
								</div>

								<p>Showing all 4 results</p>
							</div>

							<div class="col-12 col-sm-4 text-center text-sm-right">

								<ul class="nav nav-tabs ml-auto">

									<li><a class="nav-link active" href="#grid-view"
										data-toggle="tab"> <i class="fa fa-th" />
									</a></li>

									<li><a class="nav-link" href="#list-view"
										data-toggle="tab"> <i class="fa fa-list-ul" />
									</a></li>
								</ul>
							</div>
						</div>
             
						<div class="row product-categorie-box">

							<div class="tab-content">

								<div role="tabpanel" class="tab-pane fade show active"
									id="grid-view">
                <h:form>
			     <ui:repeat var="produit" value="#{ProduitController.getAllProduits()}">
									<div class="row">

								
											<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                         <div class="products-single fix">

												<div class="box-img-hover">
												</div>
												</div>
												

				
													<img src="#{ProductController.findProdimg(produit.id)}" class="img-fluid"
														style="width: 30%; height: 40%" alt="Image" />
												<div class="why-text full-width">
												
													<h4><h:outputText value="#{produit.nom}" /></h4>

													<h3>barcode: <h:outputText value="#{produit.barreCode}" /></h3>
													
													
													

													<h5>
														<h:outputText value="#{produit.prix}" />
														
													</h5>

													<p><h:outputText value="#{produit.description}" /></p>
													
<!-- 														<p><h:inputText pattern="[1-9]*" value="#{PanierController.quantite}" /></p> -->
													<a class="btn hvr-hover" href="#">	
		<h:commandButton class="btn hvr-hover" value="Add to Cart" action="#{PanierController. AjouterAuPanier(produit.id,AdminController.authenticatedClient.userId)}"/></a>
												</div>
											</div>
										</div>
										</ui:repeat>
										</h:form>
									</div>

									</div>
									</div>
									</div>
									</div>
									</div>
									</div>
									</div>
									
	
	<!-- End Shop Page -->
	<!-- Start Instagram Feed  -->

	<div class="instagram-box">

		<div class="main-instagram owl-carousel owl-theme">

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-01.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-02.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-03.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-04.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-06.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-07.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-08.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-09.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Instagram Feed  -->
	<!-- Start Footer  -->
	
	<!-- End copyright  -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">↑</a>
	<!-- ALL JS FILES -->

	<script src="../temp1/js/jquery-3.2.1.min.js"></script>

	<script src="../temp1/js/popper.min.js"></script>

	<script src="../temp1/js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->

	<script src="../temp1/js/jquery.superslides.min.js"></script>

	<script src="../temp1/js/bootstrap-select.js"></script>

	<script src="../temp1/js/inewsticker.js"></script>

	<script src="../temp1/js/bootsnav.js"></script>

	<script src="../temp1/js/images-loded.min.js"></script>

	<script src="../temp1/js/isotope.min.js"></script>

	<script src="../temp1/js/owl.carousel.min.js"></script>

	<script src="../temp1/js/baguetteBox.min.js"></script>

	<script src="../temp1/js/jquery-ui.js"></script>

	<script src="../temp1/js/jquery.nicescroll.min.js"></script>

	<script src="../temp1/js/form-validator.min.js"></script>

	<script src="../temp1/js/contact-form-script.js"></script>
		<script src="../temp1/js/jquery-ui.js"></script>
    <script src="../temp1/js/jquery.nicescroll.min.js"></script>

	<script src="../temp1/js/custom.js"></script>
	</h:body>
	</ui:define>
	</ui:composition>