<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
<!-- Basic -->
<ui:param name="shop-detail" value="Accueil" />
	<ui:define name="shop-detail">
<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" />
	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
	<!-- Site CSS -->
	<link rel="stylesheet" href="../temp1/css/style.css" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../temp1/css/responsive.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../temp1/css/custom.css" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<h:body>
	<!-- Start Main Top -->


	<!-- End Top Search -->
	<!-- Start All Title Box -->

	<div class="all-title-box">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<h2>Shop Detail</h2>

					<ul class="breadcrumb">

						<li class="breadcrumb-item"><a href="#">Shop</a></li>

						<li class="breadcrumb-item active">Shop Detail</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->
	<!-- Start Shop Detail  -->

	<div class="shop-detail-box-main">

		<div class="container">

			<div class="row">

				<div class="col-xl-5 col-lg-5 col-md-6">

					<div id="carousel-example-1"
						class="single-product-slider carousel slide" data-ride="carousel">

						<div class="carousel-inner" role="listbox">

							<div class="carousel-item active">
								<img class="d-block w-100" src="images/big-img-01.jpg"
									alt="First slide" />
							</div>

							<div class="carousel-item">
								<img class="d-block w-100" src="images/big-img-02.jpg"
									alt="Second slide" />
							</div>

							<div class="carousel-item">
								<img class="d-block w-100" src="images/big-img-03.jpg"
									alt="Third slide" />
							</div>
						</div>
						<a class="carousel-control-prev" href="#carousel-example-1"
							role="button" data-slide="prev"> <i class="fa fa-angle-left"
							aria-hidden="true" /> <span class="sr-only">Previous</span>
						</a> <a class="carousel-control-next" href="#carousel-example-1"
							role="button" data-slide="next"> <i class="fa fa-angle-right"
							aria-hidden="true" /> <span class="sr-only">Next</span>
						</a>

						<ol class="carousel-indicators">

							<li data-target="#carousel-example-1" data-slide-to="0"
								class="active"><img class="d-block w-100 img-fluid"
								src="images/smp-img-01.jpg" alt="" /></li>

							<li data-target="#carousel-example-1" data-slide-to="1"><img
								class="d-block w-100 img-fluid" src="images/smp-img-02.jpg"
								alt="" /></li>

							<li data-target="#carousel-example-1" data-slide-to="2"><img
								class="d-block w-100 img-fluid" src="images/smp-img-03.jpg"
								alt="" /></li>
						</ol>
					</div>
				</div>

				<div class="col-xl-7 col-lg-7 col-md-6">

					<div class="single-product-details">

						<h2>Fachion Lorem ipsum dolor sit amet</h2>

						<h5>
							<del>$ 60.00</del>
							$40.79
						</h5>

						<p class="available-stock">
							<span> More than 20 available / <a href="#">8 sold </a></span>
						</p>
						<p></p>
						<h4>Short Description:</h4>

						<p>Nam sagittis a augue eget scelerisque. Nullam lacinia
							consectetur sagittis. Nam sed neque id eros fermentum dignissim
							quis at tortor. Nullam ultricies urna quis sem sagittis pharetra.
							Nam erat turpis, cursus in ipsum at, tempor imperdiet metus. In
							interdum id nulla tristique accumsan. Ut semper in quam nec
							pretium. Donec egestas finibus suscipit. Curabitur tincidunt
							convallis arcu.</p>

						<ul>

							<li>

								<div class="form-group size-st">
									<label class="size-label">Size</label> <select id="basic"
										class="selectpicker show-tick form-control">

										<option value="0">Size</option>

										<option value="0">S</option>

										<option value="1">M</option>

										<option value="1">L</option>

										<option value="1">XL</option>

										<option value="1">XXL</option>

										<option value="1">3XL</option>

										<option value="1">4XL</option>
									</select>
								</div>
							</li>

							<li>

								<div class="form-group quantity-box">
									<label class="control-label">Quantity</label> <input
										class="form-control" value="0" min="0" max="20" type="number" />
								</div>
							</li>
						</ul>

						<div class="price-box-bar">

							<div class="cart-and-bay-btn">
								<a class="btn hvr-hover" data-fancybox-close="" href="#">Buy
									New</a> <a class="btn hvr-hover" data-fancybox-close="" href="#">Add
									to cart</a>
							</div>
						</div>

						<div class="add-to-btn">

							<div class="add-comp">
								<a class="btn hvr-hover" href="#"><i class="fas fa-heart" />
									Add to wishlist</a> <a class="btn hvr-hover" href="#"><i
									class="fas fa-sync-alt" /> Add to Compare</a>
							</div>

							<div class="share-bar">
								<a class="btn hvr-hover" href="#"><i class="fab fa-facebook"
									aria-hidden="true" /></a> <a class="btn hvr-hover" href="#"><i
									class="fab fa-google-plus" aria-hidden="true" /></a> <a
									class="btn hvr-hover" href="#"><i class="fab fa-twitter"
									aria-hidden="true" /></a> <a class="btn hvr-hover" href="#"><i
									class="fab fa-pinterest-p" aria-hidden="true" /></a> <a
									class="btn hvr-hover" href="#"><i class="fab fa-whatsapp"
									aria-hidden="true" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row my-5">

				<div class="col-lg-12">

					<div class="title-all text-center">

						<h1>Featured Products</h1>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Sed sit amet lacus enim.</p>
					</div>

					<div class="featured-products-box owl-carousel owl-theme">

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-01.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-02.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-03.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-04.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-01.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-02.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-03.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>

						<div class="item">

							<div class="products-single fix">

								<div class="box-img-hover">
									<img src="../temp1/images/img-pro-04.jpg" class="img-fluid" alt="Image" />

									<div class="mask-icon">

										<ul>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="View"><i
													class="fas fa-eye" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Compare"><i
													class="fas fa-sync-alt" /></a></li>

											<li><a href="#" data-toggle="tooltip"
												data-placement="right" title="Add to Wishlist"><i
													class="far fa-heart" /></a></li>
										</ul>
										<a class="cart" href="#">Add to Cart</a>
									</div>
								</div>

								<div class="why-text">

									<h4>Lorem ipsum dolor sit amet</h4>

									<h5>$9.79</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Cart -->
	<!-- Start Instagram Feed  -->

	<div class="instagram-box">

		<div class="main-instagram owl-carousel owl-theme">

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-01.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-02.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-03.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-04.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-06.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-07.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-08.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-09.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Instagram Feed  -->
	<!-- Start Footer  -->
	
	<!-- End Footer  -->
	<!-- Start copyright  -->

	<div class="footer-copyright">

		<p class="footer-company">
			All Rights Reserved. © 2018 <a href="#">ThewayShop</a> Design By : <a
				href="https://html.design/">html design</a>
		</p>
	</div>
	<!-- End copyright  -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">↑</a>
	<!-- ALL JS FILES -->

	<script src="../temp1/js/jquery-3.2.1.min.js"></script>

	<script src="../temp1/js/popper.min.js"></script>

	<script src="../temp1/js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->

	<script src="../temp1/js/jquery.superslides.min.js"></script>

	<script src="../temp1/js/bootstrap-select.js"></script>

	<script src="../temp1/js/inewsticker.js"></script>

	<script src="../temp1/js/bootsnav.js."></script>

	<script src="../temp1/js/images-loded.min.js"></script>

	<script src="../temp1/js/isotope.min.js"></script>

	<script src="../temp1/js/owl.carousel.min.js"></script>

	<script src="../temp1/js/baguetteBox.min.js"></script>

	<script src="../temp1/js/form-validator.min.js"></script>

	<script src="../temp1/js/contact-form-script.js"></script>
		<script src="../temp1/js/jquery-ui.js"></script>
    <script src="../temp1/js/jquery.nicescroll.min.js"></script>

	<script src="../temp1/js/custom.js"></script>
	</h:body>
	</ui:define>
	</ui:composition>