<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title>ConsomiTounsi#619</title>

</head>
<h:body>
	<ui:include src="../template/header.xhtml" />	
	<ui:insert name="index" />
	<ui:insert name="cart" />
	<ui:insert name="about" />
	<ui:insert name="checkout" />
	<ui:insert name="contact" />
	<ui:insert name="account" />
	<ui:insert name="service" />
	<ui:insert name="shop-detail" />
	<ui:insert name="shop" />
	<ui:insert name="wishlist" />
	<ui:insert name="blog" />
	<ui:insert name="reclamation" />
	<ui:insert name="facture" />
	<ui:insert name="produit" />
	<ui:insert name="product-form" />
	<ui:insert name="commandeUser" />
	<ui:insert name="panieruser" />
	<ui:include src="../template/footer.xhtml" />
</h:body>
</html>

	
