<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title>ConsomiTounsi#619</title>

</head>
<h:body>
	<ui:include src="../template/templateAdmin/barre.xhtml" />
	<ui:insert name="affichecommande" />
	<ui:insert name="affichefacture" />
	<ui:insert name="affichepanier" />
	<ui:insert name="AcceuilGerantProd" />
	<ui:insert name="ShowProduct" />
	<ui:insert name="ShowCategories" />
	<ui:insert name="AjoutCategorie" />
	<ui:insert name="UpdateProd" />
	<ui:insert name="addCategorie" />
	<ui:insert name="addSousCategorie" />
	<ui:insert name="AficheCategorie" />
	<ui:insert name="AficheSousCategorie" />
	<ui:insert name="affichelivreur" />
	<ui:insert name="affichelivraison" />
	<ui:insert name="addlivreur" />
	<ui:insert name="affichelivreurdispo" />
	<ui:insert name="stat" />
	<ui:insert name="afficheReclamations" />

	<!-- 	<ui:insert name="cal" /> -->

	<ui:insert name="afficheclient" />
	<ui:insert name="jeu" />
	<ui:insert name="statistiqueCa" />
	<ui:insert name="cal" />
	<ui:insert name="index2" />
</h:body>
</html>

