<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml">
<!-- Basic -->
<ui:param name="wishlist" value="Accueil" />
	<ui:define name="wishlist">
<head>

	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Site Metas -->

	<title>ThewayShop - Ecommerce Bootstrap 4 HTML Template</title>

	<meta name="keywords" content="" />

	<meta name="description" content="" />

	<meta name="author" content="" />
	<!-- Site Icons -->
	<link rel="shortcut icon" href="../temp1/images/favicon.ico" type="/image/x-icon" />
	<link rel="apple-touch-icon" href="../temp1/images/apple-touch-icon.png" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../temp1/css/bootstrap.min.css" />
	<!-- Site CSS -->
	<link rel="stylesheet" href="../temp1/css/style.css" />
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="../temp1/css/responsive.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../temp1/css/custom.css" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<h:body>
	<!-- Start Main Top -->

	
	<!-- End Top Search -->
	<!-- Start All Title Box -->

	<div class="all-title-box">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<h2>Wishlist</h2>

					<ul class="breadcrumb">

						<li class="breadcrumb-item"><a href="#">Shop</a></li>

						<li class="breadcrumb-item active">Wishlist</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Title Box -->
	<!-- Start Wishlist  -->

	<div class="wishlist-box-main">

		<div class="container">

			<div class="row">

				<div class="col-lg-12">

					<div class="table-main table-responsive">

						<table class="table">
							<thead>

								<tr>

									<th>Images</th>

									<th>Product Name</th>

									<th>Unit Price</th>

									<th>Stock</th>

									<th>Add Item</th>

									<th>Remove</th>
								</tr>
							</thead>

							<tbody>

								<tr>

									<td class="thumbnail-img"><a href="#"> <img
											class="img-fluid" src="../temp1/images/img-pro-01.jpg" alt="" />
									</a></td>

									<td class="name-pr"><a href="#"> Lorem ipsum dolor sit
											amet </a></td>

									<td class="price-pr">

										<p>$ 80.0</p>
									</td>

									<td class="quantity-box">In Stock</td>

									<td class="add-pr"><a class="btn hvr-hover" href="#">Add
											to Cart</a></td>

									<td class="remove-pr"><a href="#"> <i
											class="fas fa-times" />
									</a></td>
								</tr>

								<tr>

									<td class="thumbnail-img"><a href="#"> <img
											class="img-fluid" src="../temp1/images/img-pro-02.jpg" alt="" />
									</a></td>

									<td class="name-pr"><a href="#"> Lorem ipsum dolor sit
											amet </a></td>

									<td class="price-pr">

										<p>$ 60.0</p>
									</td>

									<td class="quantity-box">In Stock</td>

									<td class="add-pr"><a class="btn hvr-hover" href="#">Add
											to Cart</a></td>

									<td class="remove-pr"><a href="#"> <i
											class="fas fa-times" />
									</a></td>
								</tr>

								<tr>

									<td class="thumbnail-img"><a href="#"> <img
											class="img-fluid" src="../temp1/images/img-pro-03.jpg" alt="" />
									</a></td>

									<td class="name-pr"><a href="#"> Lorem ipsum dolor sit
											amet </a></td>

									<td class="price-pr">

										<p>$ 30.0</p>
									</td>

									<td class="quantity-box">In Stock</td>

									<td class="add-pr"><a class="btn hvr-hover" href="#">Add
											to Cart</a></td>

									<td class="remove-pr"><a href="#"> <i
											class="fas fa-times" />
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Wishlist -->
	<!-- Start Instagram Feed  -->

	<div class="instagram-box">

		<div class="main-instagram owl-carousel owl-theme">

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-01.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-02.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-03.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-04.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-06.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-07.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-08.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-09.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>

			<div class="item">

				<div class="ins-inner-box">
					<img src="../temp1/images/instagram-img-05.jpg" alt="" />

					<div class="hov-in">
						<a href="#"><i class="fab fa-instagram" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Instagram Feed  -->
	<!-- Start Footer  -->
	
	<!-- End Footer  -->
	<!-- Start copyright  -->

	
	<!-- End copyright  -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">↑</a>
	<!-- ALL JS FILES -->

			<script
			src="http://localhost:8081/temp1/js/jquery-3.2.1.min.js"></script>

		<script src="http://localhost:8081/temp1/js/popper.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap.min.js"></script>
		<!-- ALL PLUGINS -->

		<script
			src="http://localhost:8081/temp1/js/jquery.superslides.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/bootstrap-select.js"></script>

		<script src="http://localhost:8081/temp1/js/inewsticker.js"></script>

		<script src="http://localhost:8081/temp1/js/bootsnav.js"></script>

		<script
			src="http://localhost:8081/temp1/js/images-loded.min.js"></script>

		<script src="http://localhost:8081/temp1/js/isotope.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/owl.carousel.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/baguetteBox.min.js"></script>
		<script src="http://localhost:8081/temp1/js/jquery-ui.js"></script>
		<script
			src="http://localhost:8081/temp1/js/jquery.nicescroll.min.js"></script>
			    

		<script
			src="http://localhost:8081/temp1/js/form-validator.min.js"></script>

		<script
			src="http://localhost:8081/temp1/js/contact-form-script.js"></script>

		<script src="http://localhost:8081/temp1/js/custom.js"></script>
		            
	</h:body>
</ui:define>
</ui:composition>