<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

    <meta charset="utf-8" />


    <title>Sign In</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900" rel="stylesheet" type="text/css" />
    
    <link href="../SpringMVC/resources/css/animate.css"  rel="stylesheet" />
    <!-- Custom Stylesheet -->
    <link  href="../SpringMVC/resources/css/style.css"  rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</h:head>

<h:body>
<h:form id="form">

    <div class="container">

        <div class="top">

            <h1 id="title" class="hidden"><span id="logo" class="animated fadeInDown">Login <span>Admin</span></span></h1>
        </div>

        <div class="login-box animated fadeInUp">

            <div class="box-header">

                <h2>Log In</h2>
            </div>
            
            <label for="username" class="selected">Username</label>
           
             <br />
            <h:inputText  id="username" value="#{AdminController.login}" />
            <br />
            <label for="password">Password</label>
            <br />
         <h:inputSecret value="#{AdminController.password}" />
          
            <br />
            <h:commandButton id="btn" value="Connexion"
					action="#{AdminController.doLogin()}" />
					<br />
            <a href="#">
                <p class="small">Forgot your password?</p>
            </a>
        </div>
        	
    </div>
    
</h:form>
    <script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
    </script>
    
</h:body>
</html>