<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="layout.xhtml">
    <ui:define name="content">
        <h:form id="form">
            <p:panel header="Products List">
                <p:dataTable id="table" var="produit" value="#{productList.products}">
                    
                    <p:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText value="#{produit.nom}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">Price</f:facet>
                        <h:outputText value="#{produit.prix}">
                            <f:convertNumber type="currency" currencySymbol="$ " />
                        </h:outputText>
                    </p:column>
                    <p:column>
<!--                     <p:commandButton value="Update" action="#{productController.modifier(product,product.name,product.price)}"/> -->
                        
                   
                        <p:commandButton value="Delete" action="#{productController.delete(produit.id)}" />
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>